<div class="container-fluid  footer-container d-flex flex-column justify-content-center align-items-center">
    <div class="row border-bottom d-flex">
        <div class="col-lg-3 col-md-5 col-sm-3 d-flex flex-column justify-content-center align-items-center">
            <a href=""><img class="rounded footer-logo" src="/assets/Images/laundry.png" alt="logo"></a>
            <p class="p-3 text-center fs-6 fw-light">Laundryholic is the best laundry service provider in India.We are
                professionals in the laundry and dry cleaning business, which means we always stay up to date on the
                latest technologies, cleaning methods, and solution for dealing with stains. We strive to ensure quality
                wash & fold, on time delivery and reliable service for your laundry needs.
            </p>
        </div>
        <div class="col-lg-9 col-md-7 col-sm-9 footer-second d-flex justify-content-between align-items-center">
            <div class="row m-auto">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h3 class="border border-0 border-bottom mx-2 fw-bold my-3 text-center pb-2"> Our Services</h3>
                    <ul class="ms-4 fw-light ">
                        <li><a (click)="goToServicePage()" class="fw-light">Dry Cleaning</a></li>
                        <li><a (click)="goToServicePage()" class="fw-light">Home Cleaning</a></li>
                        <li><a (click)="goToServicePage()" class="fw-light">Wash & Iron</a></li>
                        <li><a (click)="goToServicePage()" class="fw-light">Carpet Cleaning</a></li>
                        <li><a (click)="goToServicePage()" class="fw-light">Premium Laundry</a></li>
                        <li><a (click)="goToServicePage()" class="fw-light">Steam Iron, etc</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h3 class="border border-0 border-bottom fw-bold mx-2 my-3 text-center pb-2">Pages</h3>
                    <ul class="ms-4 fw-light">
                        <li><a (click)="gotoHome()" class="fw-light">Home</a></li>
                        <li><a (click)="goToServicePage()" class="fw-light">Services</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h3 class="border border-0 border-bottom mx-2 fw-bold my-3 pb-2 text-center">Contact Us</h3>
                    <ul class="ms-4 fw-light">
                        <li>Laundryholic - Usquare Laundry Solutions Pvt Ltd</li>
                        <li><a href="https://www.google.co.in/maps/place/Laundryholic/@21.1184589,79.1117509,17z/data=!4m14!1m7!3m6!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!2sLaundryholic!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf!3m5!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf?entry=ttu"
                                class="fw-light">141, Dattatray Nagar, Ayodhya Nagar, Nagpur, Maharashtra,
                                440024.</a></li>
                        <li><a (click)="copyToClipboard('8983048428')" class="fw-light">8983048428</a></li>
                        <li><a (click)="sendEmail()" class="fw-light">support@laundryholic.com</a></li>
                        <li><a href="https://www.laundryholic.com/" class="fw-light">www.laundryholic.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <h3 class="border border-0 border-bottom mx-2 fw-bold my-3 pb-2 text-center">Follow Us</h3>
                    <ul class="list-unstyled follow-list d-flex justify-content-around align-items-center fw-light">
                        <li><a href="https://www.linkedin.com/company/laundryholic/" class="fw-light fs-3"><i
                                    class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="" class="fw-light fs-3"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/laundryholic101/" class="fw-light fs-3"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.google.co.in/search?q=Laundryholic%2C+Nagpur%2C+Maharashtra&sca_esv=4cb3c826a86dcae5&sca_upv=1&sxsrf=ACQVn0_ony14GF8gS7Q4ySvBQ8wPskjmHw%3A1712726771296&ei=8yIWZt3jEeHkseMPv5eiwAM&ved=0ahUKEwidqbO29LaFAxVhcmwGHb-LCDgQ4dUDCBA&uact=5&oq=Laundryholic%2C+Nagpur%2C+Maharashtra&gs_lp=Egxnd3Mtd2l6LXNlcnAiIUxhdW5kcnlob2xpYywgTmFncHVyLCBNYWhhcmFzaHRyYTICECZI-wFQAFgAcAB4AJABAJgBmAGgAZgBqgEDMC4xuAEDyAEA-AEBmAIBoAKiAZgDAJIHAzAuMaAHrQE&sclient=gws-wiz-serp"
                                class="fw-light fs-3"><i class="fa-brands fa-google"></i></a></li>
                    </ul>
                    <div class="d-flex flex-column align-items-center justify-content-evenly buttonstore">
                        <a href="">
                            <img class="img" src="/assets/Images/applestore.png" alt="">
                        </a>
                        <a href="">
                            <img class="img border rounded" src="/assets/Images/playstore.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 d-flex flex-row text-center
justify-content-between align-items-center mt-4 footer-last">
        <div class="col-lg-4 footer-third pb-4">
            <p class="font-weight-light"><a href="" class="text-decoration-none text-light">© Laundryholic</a> | <a
                    href="" class="text-decoration-none text-light"> All Rights Reserved</a></p>
        </div>
        <div class="col-lg-4 footer-third pb-4">
            <p><a (click)="gotoPrivacyPolicy()" class="text-decoration-none text-light fw-light">Privacy
                    Policy</a> | <a (click)="gotoTermsAndConditionsCustPage()"
                    class="text-decoration-none text-light fw-light">Terms and
                    conditions(customer)</a></p>
        </div>
        <div class="col-lg-4 footer-third pb-4">
            <p><a (click)="gotoTermsAndConditionsVendeorPage()" class="text-decoration-none text-light fw-light">Terms
                    and
                    conditions(vender)</a></p>
        </div>
    </div>
</div>