<div class="container-fluid main-container">
    <div class="row d-flex justify-content-evenly align-items-center m-auto">
        <div class="col-lg-2 col-md-2 col-sm-12 first">
            <a href="https://www.google.co.in/maps/place/Laundryholic/@21.1184589,79.1117509,17z/data=!4m14!1m7!3m6!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!2sLaundryholic!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf!3m5!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf?entry=ttu"
                class=""><i class="fa fa-map-marker"></i><span>
                    India</span></a><br>
            <i class="fa fa-phone"></i><span>8329904783</span><br>
            <a href="https://mail.google.com/mail/u/0/#inbox"><i
                    class="fa fa-envelope"></i></a><span>gopibramhan@gmail.com</span>
        </div>
        <div
            class="col-lg-8 col-md-8 col-sm-12 second my-5">
            <div class="px-4 py-4">
                <h2 class="fw-bold text-center">Contact Us</h2>
                <p class="fw-lighter text-dark text-center mt-2">Email us and keep upto date with our latest news</p>

                <form [formGroup]="signUpForm" (ngSubmit)="handleSubmit()" class="mt-4">

                    <input class="px-3 py-3" type="text"
                        [class.is-invalid]="f['firstName'].invalid && f['firstName'].touched" placeholder="First Name"
                        formControlName="firstName" required>
                    <p *ngIf="f['firstName'].invalid && f['firstName'].touched" style=" color:red; padding-left:5px">
                        First
                        Name is
                        required</p>

                    <input class="px-3 py-3" type="text"
                        [class.is-invalid]="f['lastName'].invalid && f['lastName'].touched" placeholder="Last Name"
                        formControlName="lastName" required>
                    <p *ngIf="f['lastName'].invalid && f['lastName'].touched" style=" color:red; padding-left:5px">Last
                        Name
                        is
                        required</p>

                    <input class="px-3 py-3" type="email"
                        [class.is-invalid]="f['email'].invalid && f['email'].touched" placeholder=" Your Email Address"
                        formControlName="email" required>
                    <p *ngIf="f['email'].invalid && f['email'].touched" style=" color:red; padding-left:5px">Email is
                        required</p>

                    <input class="px-3 py-3"
                        [class.is-invalid]="f['number'].invalid && f['number'].touched" placeholder=" Mobile Number"
                        formControlName="number" required>
                    <p *ngIf="f['number'].invalid && f['number'].touched" style=" color:red; padding-left:5px">Mobile
                        number is required</p>

                    <textarea class="px-3 py-3"
                        [class.is-invalid]="f['text'].invalid && f['text'].touched" placeholder=" message"
                        formControlName="text" required></textarea>
                    <p *ngIf="f['text'].invalid && f['text'].touched" style=" color:red; padding-left:5px">message is
                        required
                    </p>

                    <div class=" d-flex justify-content-center align-items-center mt-4">
                        <button type="submit" [disabled]="signUpForm.invalid" class="contact-submit-btn px-5 py-2">Send
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>