<div class="container-fluid">
    <div class="row mb-3 back-button">
        <div class="col-lg-12 col-sm-12 col-md-12 bac fw-medium fs-5">
            <button (click)=" goBack()"><i class="fas fa-angle-left"></i></button>
            <span class="label"> Subscription Plan</span>
        </div>
    </div>
    <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12 plans d-flex justify-content-between mb-2 py-3 px-3 align-items-center">
            <div class="d-flex justify-content-evenly align-items-center">
                <span class="serial-no d-flex justify-content-center align-items-center me-2">1</span>
                <span class="d-flex flex-column align-items-start justify-content-start plan-data">
                    <span class="fw-bold">Basic Plan</span>
                    <span class="label">₹1000/month</span>
                </span>
            </div>
            <span>
                <button class="px-3 py-1">Buy</button>
            </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 plans d-flex justify-content-between mb-2 py-3 px-3 align-items-center">
            <div class="d-flex justify-content-evenly align-items-center">
                <span class="serial-no d-flex justify-content-center align-items-center me-2">2</span>
                <span class="d-flex flex-column align-items-start justify-content-start plan-data">
                    <span class="fw-bold">Gold Plan</span>
                    <span class="label">₹2000 for 2months</span>
                </span>
            </div>
            <span>
                <button class="px-3 py-1">Buy</button>
            </span>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 plans d-flex justify-content-between mb-2 py-3 px-3 align-items-center">
            <div class="d-flex justify-content-evenly align-items-center">
                <span class="serial-no d-flex justify-content-center align-items-center me-2">3</span>
                <span class="d-flex flex-column align-items-start justify-content-start plan-data">
                    <span class="fw-bold">Premium Plan</span>
                    <span class="label">₹3000 for 3months</span>
                </span>
            </div>
            <span>
                <button class="px-3 py-1">Buy</button>
            </span>
        </div>
    </div>
</div>