<div class="container-fluid">
    <div class="support-team-heading d-flex  ">
        <span><i class="fas fa-angle-left" (click)=" goBack()"></i></span>
        <h6>Support Team</h6>
    </div>
    <div class=" support-team d-flex justify-content-between align-item-center " (click)="openChatBox()">
        <div class="d-flex flex-column justify-content-start align-item-start">
            <span>16 April 2024</span>
            <span class="label">Can you please tell me my order id</span>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <span><i class="fas fa-angle-right "></i></span>
        </div>
    </div>
    <div class=" support-team d-flex justify-content-between align-item-center " (click)="openChatBox()">
        <div class="d-flex flex-column justify-content-start align-item-start">
            <span>16 April 2024</span>
            <span class="label">Can you please tell me my order id</span>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <span><i class="fas fa-angle-right "></i></span>
        </div>
    </div>

    <div class=" support-team d-flex justify-content-between align-item-center " (click)="openChatBox()">
        <div class="d-flex flex-column justify-content-start align-item-start">
            <span>16 April 2024</span>
            <span class="label">Can you please tell me my order id</span>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <span><i class="fas fa-angle-right "></i></span>
        </div>
    </div>
    <div class="row plus-icon">
        <i class="fas fa-plus d-flex  align-items-center justify-content-center"></i>
    </div>
</div>