<div>
    <section class="container-fluid our-services-content">
        <div class="row row-all-content">
            <h2 class="section-heading">Our Services</h2>
        </div><br>
        <div class="row row-all-content">
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="/assets/Images/dry cleaning.png">
                    </div>
                    <h3 class="service-heading">Dry Cleaning</h3>
                    <p class="para-heading">we take pride in offering a dry cleaning experience that goes beyond the ordinary. Step into the world of garment care where precision, expertise, and attention to detail converge to elevate your wardrobe. Our dry cleaning services are tailored to ensure your clothes not only look immaculate but also stand the test of time..</p><br>
                    <a href="" class="book-now-style"  routerLink="/login">Book Now</a>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="/assets/Images/steam iron.png">
                    </div>
                    <h3 class="service-heading">Steam Iron</h3>
                    <p class="para-heading"> we bring innovation to the world of garment care with our cutting-edge stream ironing services. Elevate your wardrobe to new heights of sophistication as our skilled professionals infuse a touch of perfection into your clothing. Say goodbye to wrinkles and embrace the effortless elegance that comes with perfectly ironed garments.</p>
                    <a href="" class="book-now-style"  routerLink="/login">Book Now</a>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="/assets/Images/home laundry.png">
                    </div>
                    <h3 class="service-heading">Laundry Service</h3>
                    <p class="para-heading">Welcome to laundryholic.com, where we redefine the laundry experience with a commitment to excellence.  we not only enhance the appearance of your carpets but also contribute to a healthier Our laundry service goes beyond the ordinary, offering meticulous care, convenience, and a touch of luxury for your garments.</p>
                    <a href="" class="book-now-style"  routerLink="/login">Book Now</a>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="/assets/Images/carpet.png">
                    </div>
                    <h3 class="service-heading">Carpet Cleaning</h3>
                    <p class="para-heading">Elevate your living space with our professional home cleaning services! We understand the importance of a clean and healthy home environment, and our dedicated team is here to make it a reality for you. From thorough dusting and vacuuming to meticulous kitchen and bathroom cleaning, we take care of every detail. Our experienced cleaners use eco-friendly products to ensure a safe and fresh atmosphere. Let us handle the chores, so you can enjoy a spotless home without the stress. Schedule your home cleaning today and experience the joy of coming home to a clean and welcoming haven.</p>
                    <a href="" class="book-now-style" routerLink="/login">Book Now</a>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="/assets/Images/home laundry.png">
                    </div>
                    <h3 class="service-heading">Home Cleaning</h3>
                    <p class="para-heading">Elevate your living space with our professional home cleaning services! We understand the importance of a clean and healthy home environment, and our dedicated team is here to make it a reality for you. From thorough dusting and vacuuming to meticulous kitchen and bathroom cleaning, we take care of every detail. Our experienced cleaners use eco-friendly products to ensure a safe and fresh atmosphere. Let us handle the chores, so you can enjoy a spotless home without the stress. Schedule your home cleaning today and experience the joy of coming home to a clean and welcoming haven.</p>
                    <a href="" class="book-now-style" routerLink="/login">Book Now</a>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="/assets/Images/pet laundry.png">
                    </div>
                    <h3 class="service-heading">Pet Laundry</h3>
                    <p class="para-heading">Treat your furry friends to the ultimate in comfort and cleanliness with our pet laundry service! We understand that pets are part of the family, and their bedding, blankets, and toys deserve special care. Our pet-friendly laundry service uses gentle detergents to remove odors, stains, and allergens, ensuring a fresh and cozy space for your beloved companions. With our meticulous attention to detail, you can trust us to keep your pet's belongings clean and comfortable. Give your pets the care they deserve – schedule our pet laundry service today for a happier, healthier home for you and your four-legged friends.</p>
                    <a href="" class="book-now-style" routerLink="/login">Book Now</a>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="/assets/Images/shoe laundry.png">
                    </div>
                    <h3 class="service-heading">Shoe Laundry</h3>
                    <p class="para-heading">Step into freshness with our professional shoe laundry service! Your shoes deserve the best care, and we're here to provide it. Our specialized cleaning techniques are designed to rejuvenate your favorite footwear, removing dirt, stains, and odors. Whether it's sneakers, heels, or casual shoes, we handle each pair with the utmost care. Our shoe laundry service not only enhances the appearance of your shoes but also helps prolong their life. Treat your footwear to a spa day – schedule our shoe laundry service today and put your best foot forward with clean, comfortable, and stylish shoes.</p>
                    <a href="" class="book-now-style" routerLink="/login">Book Now</a>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="icon-wrapper">
                        <img src="/assets/Images/wash & iron.png">
                    </div>
                    <h3 class="service-heading">Wash And Iron</h3>
                    <p class="para-heading">Experience the epitome of convenience with our Wash & Iron service! We understand the demands of a busy lifestyle, and that's why we're here to take the hassle out of laundry. Our expert team ensures your clothes are not only impeccably clean but also professionally ironed to perfection. From everyday wear to special garments, we handle each item with care and precision. Say goodbye to laundry day stress and hello to neatly folded, crisply ironed clothes ready to wear. Elevate your laundry experience – schedule our Wash & Iron service today for a wardrobe that's not just clean but also effortlessly polished.</p>
                    <a href="" class="book-now-style" routerLink="/login">Book Now</a>
                </div>
            </div>
        </div>
    </section>
</div>
