<div class="container m-auto">
    <div class="row back-button">
        <div class="col-lg-12 col-sm-12 col-md-12 fw-medium">
            <button class="" (click)=" goBack()"><i class="fas fa-angle-left"></i></button>
            <span class="label"> Contact Us</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="row d-flex justify-content-evenly align-items-center my-3">
                <div class="col-lg-2 col-md-2 col-sm-2 icon d-flex justify-content-center align-items-center">
                    <span>
                        <i class="fas fa-building"></i>
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 data fw-medium">
                    <a href="https://www.google.com/maps/place/Laundryholic/@21.1184589,79.1117509,17z/data=!3m1!4b1!4m6!3m5!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf?entry=ttu"
                        class="text-decoration-none text-dark">
                        Usquare Laundry Solutions Private Limited Nagpur
                    </a>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly align-items-center my-3">
                <div class="col-lg-2 col-md-2 col-sm-2 icon d-flex justify-content-center align-items-center">
                    <span>
                        <i class="fa-solid fa-magnifying-glass-location"></i>
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 data fw-medium">
                    <a href="https://www.google.com/maps/search/Sheikh+Firoz+Sheikh+Nasir,+Second+floor+Plot+No.+141,+Dattatray+Nagar,+Nagpur/@21.1171114,79.1108539,17z/data=!3m1!4b1?entry=ttu"
                        class="text-decoration-none text-dark">
                        Second floor Plot No. 141, Dattatray Nagar, Nagpur
                    </a>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly align-items-center my-3">
                <div class="col-lg-2 col-md-2 col-sm-2 icon d-flex justify-content-center align-items-center">
                    <span>
                        <i class="fas fa-globe"></i>
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 data fw-medium">
                    <a href="https://laundryholic.com/" class="text-decoration-none text-dark">
                        http://www.laundryholic.com
                    </a>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly align-items-center my-3">
                <div class="col-lg-2 col-md-2 col-sm-2 icon d-flex justify-content-center align-items-center">
                    <span>
                        <i class="fa-solid fa-phone"></i>
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 data fw-medium">
                    <a href="" class="text-decoration-none text-dark">
                        +91-9765575201, 7798307368
                    </a>
                </div>
            </div>
            <div class="row d-flex justify-content-evenly align-items-center my-3">
                <div class="col-lg-2 col-md-2 col-sm-2 icon d-flex justify-content-center align-items-center">
                    <span>
                        <i class="fa-solid fa-envelope"></i>
                    </span>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 data fw-medium">
                    <a href="" class="text-decoration-none text-dark">
                        support@laundryholic.com
                    </a>
                </div>
            </div>
            <div class="row my-5">
                <div
                    class="col-lg-12 col-sm-12 col-md-12 btn-contactus m-auto d-flex justify-content-center align-items-center">
                    <button class="py-2 m-auto">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</div>