<div class="container-fluid">
  <div class="row total-body">
    <div class="col-lg-5 col-md-6 col-sm-6 about">
      <h1 class="text-about fw-bold text-uppercase text-center">| Get to know us |</h1>
      <p class="mt-2 fw-bold">We are professionals in the laundry and dry cleaning business, which means we always stay up to date on the
        latest technologies, cleaning methods, and solutions for dealing with stains.</p>
      <p class="mt-1 fw-bold">Resize the browser window to see that this page is responsive by the way.</p>
    </div>
  </div>
</div>



<div class="container-fluid my-2 d-flex justify-content-center align-items-center flex-column">
  <h1 class=" text-center ourteam fw-bolder m-auto text-uppercase mt-2">Our Team</h1>
  <div class="row my-1 d-flex justify-content-center align-items-center">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
      <div class="card d-flex align-items-center justify-content-center">
        <img class="img-team " src="/assets/Images/profilephoto.jpg" alt="umesh">
        <h4 class="text-center mt-2 name">Umesh Sahare</h4>
        <p class="title text-center">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>umeshsahare@gmail.com</p>
        <button class="form-control btn-contact"> <i class="fa-solid fa-phone"></i>Contact</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center">
      <div class="card d-flex align-items-center justify-content-center">
        <img class="img-team " src="/assets/Images/profilephoto.jpg" alt="umesh">
        <h4 class="text-center mt-2 name">Ujwal Meshram</h4>
        <p class="title text-center">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>ujwalmeshram@gmail.com</p>
        <button class="form-control btn-contact"><i class="fa-solid fa-phone"></i> Contact</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center ">
      <div class="card d-flex align-items-center justify-content-center">
        <img class="img-team " src="/assets/Images/profilephoto.jpg" alt="umesh">
        <h4 class="text-center mt-2 name">Gopichand Bramhan</h4>
        <p class="title text-center">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>gopichadbramhan@gmail.com</p>
        <button class="form-control btn-contact"><i class="fa-solid fa-phone"></i> Contact</button>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-center align-items-center ">
      <div class="card d-flex align-items-center justify-content-center">
        <img class="img-team " src="/assets/Images/profilephoto.jpg" alt="umesh">
        <h4 class="text-center mt-2 name">Ujwal Meshram</h4>
        <p class="title text-center ">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>ujwalmeshram@gmail.com</p>
        <button class="form-control btn-contact"><i class="fa-solid fa-phone"></i> Contact</button>
      </div>
    </div>
  </div>
</div>


<div class='pagemain mt-1 mt-md-0'>
  <section class="about py-2 py-md-0" id="about">
    <div class="container py-xl-5 py-lg-1 py-md-0">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 about-left">
          <h4 class="sub-tittle-tem-laundrylayouts let">Who we are?</h4>
          <h3 class="tittle-tem-laundrylayouts text-company">WE’R THE COMPANY WHO WILL TAKE CARE OF YOUR CLOTH</h3>
          <p class="para-text mt-1">We are professionals in the laundry and dry cleaning business, which means we always
            stay up to date on the latest technologies, cleaning methods, and solutions for dealing with stains.</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 about-right">
          <p class="mt-0 para-text">We strive to ensure quality wash & fold, on-time delivery, and reliable service for
            your laundry needs. A dedicated team is on hand to maintain quality standards and to seek continuous
            improvements. We offer a premium personalized service that you can completely customize. If you have a
            special request, just let us know. We are happy to cater to your laundry needs.</p>
          <p class="mt-0 mb-4 para-text">Welcome to laundryholic.com, where impeccable cleanliness meets unparalleled
            convenience! Our laundry and dry cleaning services are designed to make your life easier and your clothes
            fresher than ever. Say goodbye to the hassle of laundry day, and let us handle the dirty work for you.</p>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6 about-left">
          <h4 class="our-mission mt-md-2 mt-sm-6">Our Mission</h4>
          <p class="para-text mt-1">At laundryholic.com, our mission is simple – to make your life easier. We understand
            the demands of modern living, and that's why we've curated a range of services designed to simplify your
            laundry routine. From meticulous washing to expert ironing, we handle your garments with the utmost care,
            ensuring they come back to you looking and feeling their best.</p>
          <h4 class="why-choose-us mt-md-4 mt-md-5">Why Choose Us</h4>
          <p class="para-text mt-1">
            1) Quality Assurance: We stand by the quality of our services, and your satisfaction is our top priority.
            Expect nothing less than excellence with every item we handle. <br>
            2) Customer-Centric Approach: Your feedback matters, and we are dedicated to continuously improving our
            services based on your needs. Our customer-centric approach ensures a personalized experience that exceeds
            expectations. <br>
            3) Transparent Pricing: No hidden costs or surprises. Our transparent pricing model ensures you know exactly
            what to expect, making your experience with us straightforward and stress-free.
          </p>
        </div>
        <div class="col-lg-6 about-right">
          <p class="mt-0 our-mission mt-md-2 mt-sm-4">What Sets Us Apart:</p>
          <p class="mt-1 mt-sm-0 mb-4 para-text">
            1) Professional Expertise: Our skilled team of laundry professionals is dedicated to providing a level of
            service that goes beyond just cleaning clothes. We take pride in our attention to detail, ensuring your
            garments receive the care they deserve. <br>
            2) Advanced Technology: We leverage cutting-edge technology and state-of-the-art equipment to deliver
            results that exceed expectations. Our commitment to innovation allows us to offer efficient and eco-friendly
            solutions without compromising on quality. <br>
            3) Convenience Redefined: Your time is precious, and we respect that. With our user-friendly online
            platform, scheduling a laundry service is just a click away. Enjoy the convenience of doorstep pickup and
            delivery, leaving you with more time to focus on what matters most.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
