<div class="container">
    <div class="row mt-3 ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-center ">
            <button type="button" class="btn btn-outline btn-page-review">1</button>
            <hr class="horizontal font-weight-bolder">
            <button type="button" class="btn btn-outline btn-page-review">2</button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <p class="m-auto d-flex align-items-center justify-content-between page-review"><span
                    class="pe-5">Review</span> <span></span><span class="ps-5">Payment</span></p>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 border mt-3 row-1">
            <h6 class="p-2 mt-2"><i class="fas fa-motorcycle"></i>
                Estimated Delivery by Monday,15th Apr</h6>
            <hr>
            <div class="row d-flex ">
                <div
                    class="col-lg-4 col-md-4 col-sm-12 col-xs-12 border  align-items-center d-flex justify-content-center ">
                    <img src="/assets/Images/dry cleaning.png" alt="" class="img-product">
                </div>
                <div
                    class="col-lg-8 col-md-8 col-sm-12 col-xs-12 content-class border  d-flex flex-column justify-content-start">
                    <h4 class="font-weight-bolder d-flex justify-content-center">Apron</h4>

                    <h5 class="d-flex justify-content-center">Price : <span>&#x20B9;</span> 200</h5>
                    <hr>
                    <p class="d-flex justify-content-end">Quantity : <span>2</span></p>





                </div>
                <div class="row">
                    <div class="col-lg-12 d-flex justify-content-between align-items-center p-2"><span>Sold By : Store
                            Name</span> <span class="">Free Delivery</span>
                        
                    </div>
                </div>
                
                <div class="row border-top ">
                    <div class="col-lg-12"> 
                        <h6 class="d-flex justify-content-start p-2"><i class='fas fa-map-marker-alt pe-1'></i>Dilevery Address</h6>
                        <div class="d-flex justify-content-between align-items-center"><h6>Customer Name</h6><button type="button" class="btn btn-outline custom-button">Change Address</button></div>
                        <p>Contact</p>
                        <p>141 Dattatry Nagar, Ayodhya Nagar, Nagpur, Maharashtra, 440024</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 p-5 border mt-3">
            <h6>Price Details</h6>
 
           <div class=" d-flex justify-content-between align-items-center"><span>Total Product Price</span> <span>&#x20B9;200</span> </div>
           <hr>
           <div class=" d-flex justify-content-between align-items-center"><span>Order Price</span> <span>&#x20B9;200</span> </div>
           <p>Clicking on "continue" will not deduct any money</p>
           <button type="button" class="btn btn-outline  d-flex justify-content-center form-control mt-3 custom-button p-2"><i class="fas fa-arrow-right p-1"></i>Continue</button>
    </div>
</div>