<div class="container m-auto my-3 backcolor content">
    <div class="row image">
        <div class="col-lg-12 top-section">
            <img src="/assets/Images/terms.jpg" alt="terms and conditions bg">
            <h1 class="text-center fw-bolder fs-1 top-content themecolor">Terms & Conditions for Vendor</h1>
            <p class="text-center fw-light top-content themecolor">Before proceeding further, please agree to our terms and conditions as
                mentioned
                below.</p>
        </div>
    </div>
    <div class="container home m-auto">
        <div class="row mt-3">
            <div class="col-lg-12 col-sm-12 col-md-12 py-3 px-3">
                <h4 class="fs-6"><a class="text-decoration-none themecolor" href="">Home</a> | <a
                        class="text-decoration-none terms" href="">Term's & Conditions</a></h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 d-flex flex-column justify-content-center align-items-center">
            <div class="col">
                <p class="text-left fw-light pb-4 px-3">
                    Welcome to the laundryholic website. This page tells you about the terms and conditions (Terms of
                    Use) on which you may use or access our website - www.laundryholic.com (our site). Please read these
                    Terms of Use carefully before you start to use our site. By using or accessing our site, you
                    acknowledge that you accept these Terms of Use and that you agree to abide by them. The Privacy
                    Policy published on our website must be read in conjunction with these Terms of Use and forms part
                    of these Terms of Use.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="ms-3 fw-bold fs-3">English</h3>
        <ul class="mx-3 mt-3 p-3">
            <li class="p-2">Your work will be paid after every 7 days.</li>
            <li class="p-2">You will be guided from time to time by the company regarding business.</li>
            <li class="p-2">You have to pay the company based on the commission fixed with you.</li>
            <li class="p-2">It is mandatory for you to follow the rules and regulations of the company.</li>
            <li class="p-2">If any kind of problem arises in your service, then only the company has the right to stop business with you.</li>
            <li class="p-2">No registration will be accepted unless the online form is completely filled.</li>
            <li class="p-2">Your registration will be cancelled if you take extra money from any customer in the name of the company.</li>
            <li class="p-2">Company can do branding at service providers.</li>
            <li class="p-2">No service provider can promote his own ads on the company's service.</li>
            <li class="p-2">The service providers will be responsible for any fabric damage, color loss, or additional stains.</li>
            <li class="p-2">It is mandatory to check every item while taking service. Otherwise, it will be considered the fault of the service providers.</li>
            <li class="p-2">What the offers the company makes, it is mandatory for the service providers to accept all the offers.</li>
            <li class="p-2">The commission fixed by the company can be changed at any time from time to time.</li>
            <li class="p-2">Any additional services specified by the company will have to be paid separately.</li>
            <li class="p-2">The company may take action if any branding regarding misbehavior is found with offline customers.</li>
            <li class="p-2">The company itself will be responsible for pick up and drop.</li>
            <li class="p-2">Registration fee is not refundable.</li>
            <li class="p-2">If clothes are lost after receiving the order, you will have to pay for it.</li>
            <li class="p-2">Any service is delayed more than the time it was designed for will consider a reduction in service cost or free service on time.</li>
        </ul>
    </div>
    <div class="container m-auto">
        <div class="row d-flex flex-column justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start align-items-center">
                <input class="ms-3" type="checkbox" name="" id="check"><label class="p-2 terms" for="check">I agree to the following terms and condtions</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 w-100 d-flex justify-content-center align-items-center my-3">
                <button class="rounded px-3 py-2 agree themecolor" (click)="gotoHome()">Agree and continue</button>
            </div>
        </div>
    </div>
</div>