*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:host{
    --headingcolor: #4e5659;
    --themecolor: #30d5c7;
}
.home-banner{
    color: var(--headingcolor);
    background-color: #f7f7f7;
}
.home-banner p{
    font-size: 25px;
    color: var(--themecolor);
}
.home-content-form{
    width: 80%;
}
.home-banner .forms input{
    width: 90%;
    padding: 5px 10px;
    border: none;
    outline: none;
    margin: 10px 0px;
    box-shadow: 2px 2px 5px rgb(203, 203, 203);
}
.forms p{
    font-size: small;
}
.schedulepickup-btn{
    border-radius: 50px;
    padding: 5px 10px;
    background-color: var(--themecolor);
    color: white;
    border: none;   
    box-shadow: 2px 2px 5px rgb(203, 203, 203);
}
.home-banner .banner-img{
    height: 400px;
}
.best-laundry-india{
    width: 500px;
}
.best-drycleaners{
    font-size: 20px;
    width: 80%;
    color: var(--headingcolor) !important;
    padding: 85px 0px;
}
i{
    font-size: 25px;
    color: var(--themecolor);
}
hr{
    width: 80%;
    margin: auto;
}
.container-impeccable{
  margin: auto;
}
.container-impeccable h1{
  color: var(--headingcolor);
font-size: 30px;
}
 .hr-content{
  width: 250px;
  margin: auto;
  border:2px solid #4e5659;
  margin-top:20px;
  margin-bottom: 20px;
}
.container-impeccable img{
    width: 100%;
  height: 350px;
}
table tr th,td{
  border:0;
  padding:10px;
}
table tr .correct{
  color:green;
  font-size: large;
}
table tr .wrong{
  color:red;
  font-size: large;
}
ul{
  padding:0px;
}
ul li{
  margin-left:50px;
  line-height: 30px;
}
.shedule-btn button{
  background-color: #30d5c7;
  color: white;
  border: none;
  border-radius: 50px;
  padding:10px;
}

.review-container h1{
  color:var(--headingcolor);
  font-size: 30px;
}
.review-container{
  padding:30px 0px 30px 0px;
  
}
.icon-inner-container  .slider-card p{
  line-height: 27px;
  font-size: 13px;
}
.home-main-card{
  align-content: center;
}
.home-main-card h6{
  color: #30d5c7;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
}
.slider-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slider-container::-webkit-scrollbar {
  display: none;
}
.icon-container {
  display: inline-block;
  margin: 10px;
  color:#4e5659;
  background-color: #30d5c7;
}
.icon-inner-container {
  text-align: center !important;
  width: 271px;
  height: 290px;
  background-color: white;
  border-top-left-radius: 50%;
  padding: 30px;
  box-shadow: 2px 2px 5px gray;
}
.icon-title {
  margin-top: 5px;
  font-size: 12px;
}
.slider-wrapper {
  width: 100%;
  background-color: #f7f7f7;
  padding:40px 74px 40px 74px;
}
.card{
    border: none;
}
.services, .services h5{
    color: var(--headingcolor);
}
.houte-culture-btn{
    border: none;
    background-color: transparent;
}
.card-heading-font{
    font-size: 16px;
}
.card-middle-info{
    font-size: 14px;
    font-weight: 400;
    color: var(--headingcolor);
}
.card-image{
    height: 200px;
}
.next-icon{
    float: right;
    padding: 5px;
    color: var(--headingcolor);
}
.card-footer{
    padding-top: 5px;
}
.card-footer:hover {
    cursor: pointer;
    background-color: var(--headingcolor) !important;
}
.card-footer:hover .houte-culture-btn {
    color: white;
}
.Online-services-div h5, .Online-services-div h6{
    color: var(--headingcolor);
    font-size: 20px;
}
.Online-services-div h5{
    font-size: 25px;
}
.Online-services-div p{
    width: 80%;
    font-size: 18px;
    color: var(--headingcolor);
}
.playstore-img{
    width: 70%;
}
.playstore-img img{
    height: 50px;
}
.joinus-div{
    vertical-align: middle;
}
.joinus-div .img2, .joinus-div .img3{
    height: 356px;
    border-radius: 20px;
}
.joinus-div .img1{
    position: absolute;
    height: 405px;
    border-radius: 25px;
    margin-left: 73px;
    margin-top: -28px;
}
.horizontal-line{
    width: 400px;
    border-top: 5px solid black; 
    margin: auto;
 }

 .van-img{
    max-width: 100%;
 }

 .van-icon{
    font-size: 50px;
 }
 .pickup-button{
    width: 20%;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: rgb(26, 24, 24);
    color: #fff;
 }
 .whatsapp {
    height: 70px;
    width: 70px;
    position: fixed;
    top: 85vh;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px rgb(127, 127, 127);
  }
  
  .whatsapp:hover {
    height: 72px;
    width: 72px;
  }
  
@media screen and (max-width: 480px){
    .pickup-button{
        width: 80%;
        padding: 5px;
        border-radius: 20px;
     }
     .whatsapp {
        height: 60px;
        width: 60px;
      }
     .mobile-view{
        display: flex;
        flex-flow: column-reverse;
     }

     .horizontal-line{
        width: 30vw;
     }
    .home-banner h1 {
        font-size: 20px;
        padding: 5px 10px;
    }
    .heading-p{
        font-size: 16px !important;
    }
    .home-banner .banner-img{
        display: none;
    }
    .forms{
        margin-top: -10px !important;
    }
    .forms input{
        width: 100% !important;
    }
    .home-content-form{
        margin-top: 44px !important;
        font-size: small;
    }
    .home-banner{
        padding: 20px 0px !important;
    }
    .banner-content h5{
        font-size: 16px;
    }
    .best-laundry-india{
        width: 290px;
        margin-top: 20px;
    }
    .best-drycleancontent{
        margin-top: 20px;
    }
    .best-drycleancontent h5, .best-drycleancontent p{
        font-size: 16px !important;
        margin-top: 20px;
    }
    .best-drycleancontent button{
        margin-top: 15px;
    }
    .card-image{
        height: 144px;
        margin-bottom: 9px;
    }
    .card{
        margin-bottom: 20px;
    }
    .card-heading-font{
        font-size: 14px;
    }
    .card-middle-info{
        font-size: 12px;
    }
    .houte-culture-btn{
        font-size: 12px;
    }
    .card-footer button{
        width: 80%;
    }
    .card-footer i{
        width: 20%;
    }
    .next-icon{
        color:  #f7f3f3;
    }
    .container-impeccable img{
        width: 100% !important;
        height: 290px !important;
    }
    table tr th,td{
       border:0;
       padding: 6px;
    }
    .slider-wrapper {
        padding: 40px 10px !important;
    }
    .playstore-img{
        width: 100%;
    }
    .joinus-div {
        padding-bottom: 30px;
    }
    .playstore-img img{
        height: 44px !important;
    }
    .joinus-div .img2, .joinus-div .img3{
        height: 188px;
        margin-top: 34px;
    }
    .joinus-div .img1{
        height: 227px;
        margin-top: 11px;
        margin-left: 38px;
    }
    .Online-services-div h5{
        font-size: 20px;
    }
    .Online-services-div h6{
        font-size: 18px;
    }
    .best-drycleaners{
        margin-top: -30px !important;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px){
    .best-laundry-india{
        width: 350px;
    }
    .best-drycleaners{
        width: 100%;
    }
    .best-drycleaners h2{
        font-size: 26px;
    }
    .best-drycleancontent h5, .best-drycleancontent p{
        font-size: 16px !important;
    }
    .banner-img{
        height: 350px !important;
    }
    .card-image {
        height: 131px;
    }
    .playstore-img{
        width: 100%;
    }
    .joinus-div .img2, .joinus-div .img3{
        height: 251px;
    }
    .joinus-div .img1{
        height: 290px;
        margin-top: -15px;
        margin-left: 52px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .best-laundry-india{
        width: 350px;
    }
    .pickup-button{
        width: 30%;
        padding: 5px;
        border-radius: 20px;
     }

     .van-icon{
        font-size: 40px;
     }

     .heading-part{
        font-size: 16px;
     }

     .heading-para{
        font-size: 14px;
     }
    .best-drycleancontent h5, .best-drycleancontent p{
        font-size: 16px !important;
    }
    .playstore-img{
        width: 100%;
    }
}