<div class="container-fluid home-banner">
  <div class="container m-auto">
    <h1 class="d-flex flex-column text-center pt-lg-4 pt-md-4 pt-sm-3">
      <span class="font-weight-light">Looking for the</span>
      <span class="font-weight-light">"BEST LAUNDRY SERVICES IN INDIA ?"</span>
      <span>WELCOME TO LAUNDRYHOLIC</span>
      <p class="heading-p">" Loving your clothes like you "</p>
    </h1>
    <div class="row home-content-form m-auto">
      <div class="col-lg-6 col-md-6 col-sm-12 align-content-center banner-content">
        <h5 class="d-flex flex-column justify-content-center text-left">
          <span>Trusted By 1000+ Customers</span>
          <span>100+ Stores Accross 50+ Cities</span>
          <span>upto 25% OFF on 1st Order</span>
        </h5>
        <div class="row m-auto forms">
          <form [formGroup]="homeForm" (ngSubmit)="handleSubmit()"
            class="mt-4 d-flex flex-column justify-content-start align-items-start">
            <input type="text" [class.is-invalid]="f['fullname'].invalid && f['fullname'].touched"
              placeholder="Full Name" formControlName="fullname" required>
            <p *ngIf="f['fullname'].invalid && f['fullname'].touched" style=" color:red; padding-left:5px">
              Full name is required</p>

            <input [class.is-invalid]="f['number'].invalid && f['number'].touched" placeholder="Mobile Number"
              formControlName="number" required>
            <p *ngIf="f['number'].invalid && f['number'].touched" style=" color:red; padding-left:5px">Mobile
              number is required</p>

            <input [class.is-invalid]="f['address'].invalid && f['address'].touched" placeholder="Enter your address"
              formControlName="address" required>
            <p *ngIf="f['address'].invalid && f['address'].touched" style=" color:red; padding-left:5px">Address is
              required</p>

            <div class=" d-flex justify-content-center align-items-center mt-2">
              <button type="button" [disabled]="homeForm.invalid" class="schedulepickup-btn m-auto">Schedule Free
                Pickup</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 align-content-center text-center pb-4">
        <img src="/assets/Images/home-banner.png" class="banner-img">
      </div>
    </div>
  </div>
</div>
<div class="container m-auto best-drycleaners">
  <h2 class="text-center">BEST DRY CLEANERS IN INDIA, WITH AFFORDABLE PRICES</h2>
  <hr class="hr-content" />
  <div class="row mt-lg-5 mt-md-2 d-flex justify-content-between align-items-center">
    <div class="col-lg-5 col-md-5 col-sm-12 d-flex justify-content-center align-items-center mx-2">
      <img src="/assets/Images/newLoundry.jpg" class="best-laundry-india">
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 best-drycleancontent">
      <div class="d-flex flex-column justify-content-evenly align-items-start">
        <h5 class="my-lg-4 my-md-3 my-sm-2">
          <span class="me-4"><i class="fa-solid fa-tags"></i></span>
          <span>Get Free Delivery on the order of ₹299</span>
        </h5>
        <h5 class="my-lg-4 my-md-3 my-sm-2">
          <span class="me-4"><i class="fa-solid fa-truck-fast"></i></span>
          <span>Get upto 20% off on your first Express Delivery</span>
        </h5>
        <p>We are India's Biggest Laundry Services prviders, providing all the laundry services to your doorsteps,
          trusted by 1000+ customers throughout India</p>
        <button type="button" class="schedulepickup-btn mt-lg-5 mt-md-3 mt-sm-0 fs-6" routerLink="/login">Schedule free pickup</button>
      </div>
    </div>
  </div>
</div>
<div class="  container container-impeccable  ">
  <h1 class="text-center">IMPECCABLE DRY CLEAN QUALITY, EVERY TIME</h1>
  <hr class="hr-content" />
  <div class="row mb-5">
    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
      <img
        src="https://th.bing.com/th/id/R.a4847d9d69f0258fc33aabc1e345bfd1?rik=Wjufo1kWzlt2WQ&riu=http%3a%2f%2fkatramarketing.com%2fimages%2freason-3.jpg&ehk=26LZ2aDUpwwMlpQhbwXu%2bjjEnu6SAgiZKEagK3H4%2bds%3d&risl=&pid=ImgRaw&r=0">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 m-auto">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><i class="fa-solid fa-tag "></i></th>
            <td>100% Garment Care Label Adherence</td>
            <td><i class="fa-solid fa-circle-check correct"></i></td>
            <td><i class="fa-solid fa-circle-xmark  wrong"></i></td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-shield-alt"></i></th>
            <td>Color Bleeding Proof Process</td>
            <td><i class="fa-solid fa-circle-check  correct"></i></td>
            <td><i class="fa-solid fa-circle-xmark  wrong "></i></td>
          </tr>
          <tr>
            <th scope="row"> <i class="fas fa-lock"></i></th>
            <td>Zero Shrinkage Guaranteed </td>
            <td><i class="fa-solid fa-circle-check  correct"></i></td>
            <td><i class="fa-solid fa-circle-xmark  wrong"></i></td>
          </tr>
          <tr>
            <th scope="row"> <i class="fas fa-tshirt"></i></th>
            <td>99% Stain Removal Promise</td>
            <td><i class="fa-solid fa-circle-check  correct"></i></td>
            <td><i class="fa-solid fa-circle-xmark  wrong"></i></td>
          </tr>
          <tr>
            <th scope="row"> <i class="fas fa-spinner fa-spin"></i></th>
            <td>Color Restoration For Old Dark Garments</td>
            <td><i class="fa-solid fa-circle-check  correct"></i></td>
            <td><i class="fa-solid fa-circle-xmark  wrong"></i></td>
          </tr>
          <tr>
            <th scope="row"> <i class="fas fa-tshirt"></i></th>
            <td>Whitex Technology For 3 Shades Brighter Whites</td>
            <td><i class="fa-solid fa-circle-check  correct"></i></td>
            <td><i class="fa-solid fa-circle-xmark  wrong"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ul class="px-3">
    <p>Our Lagoon technology is the world’s only
      eco-friendly and Woolmark certified dry cleaning process. It ensures:</p>
    <li>Zero cloth shrinkage</li>
    <li>100% preservation of cloth shine and texture</li>
    <li>Zero harm to environment, unlike toxic oil based
      solvents used by other dry cleaners in Nagpur</li>
  </ul>
  <p class="px-3">Tumbledry is the only dry clean brand to have developed chemicals for India
    specific stains like heena (mehendi), Indian turmeric, spices, ball pen ink, and very old stains. This allows us
    to achieve upto 99% stain removal.
    Other dry cleaners can achieve only upto 80% stain removal.
  </p>
  <div class="shedule-btn text-center mt-3 mb-3">
    <button class="text-center" routerLink="/login">Shedule Free PickUp</button>
  </div>
</div>
<div class="container review-container m-auto">
  <h1 class="text-center">REVIEWS FROM OUR HAPPY CUSTOMERS</h1>
  <hr class="hr-content" />
  <div class="container-fluid mt-2">
    <div class="slider-wrapper container">
      <div class="slider-container d-flex justify-content-evenly align-items-center">
        <div class="icon-container ">
          <div class="icon-inner-container home-main-card  ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-inner-container home-main-card ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-inner-container home-main-card ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-inner-container home-main-card ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-inner-container home-main-card ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-inner-container home-main-card ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-inner-container home-main-card ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-inner-container home-main-card ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-inner-container home-main-card ">
            <div class="slider-card ">
              <p class=""> <i class="fas fa-quote-left icon"></i>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, exercitationem.adipisicing elit.
                Expedita, exercitationem.
                <i class="fas fa-quote-right icon"></i>
              </p>
              <h6>Sakshi Nikhade</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container m-auto services">
  <h1 class="text-center p-2">OUR EXPERT DRY CLEAN SERVICES</h1>
  <hr class="hr-content" />
  <div class="row p-4 d-flex justify-content-between align-items-center">
    <div class="col-lg-4 col-md-4 px-3">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE2KjDUatSKyI7rOd6CHIkNexbI4ptqL6ujA&s"
          class="card-img-top card-image mb-3" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold card-heading-font mb-1">HAUTE COUTURE DRY CLEANING</h5>
          <p class="card-text card-middle-info">Hohenstein certified dry cleaning process to restore the lustre of your
            silk sarees and designer wears.</p>
        </div>
        <button routerLink="/service"
          class="text-center houte-culture-btn d-flex justify-content-between align-items-center bg-secondary-subtle p-1 mt-2"><span>More
            About Haute Couture Dry Cleaning</span><i class="fa-solid fa-chevron-right next-icon fs-6"></i></button>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 px-3">
      <div class="card">
        <img src="https://www.cleanipedia.com/images/v2/325ef93667930e7523d5fdb1fc9a84bb-1800w-1200h.jpg"
          class="card-img-top card-image mb-3" alt="shoes" />
        <div class="card-body text-center">
          <h5 class="card-title fw-bold card-heading-font mb-1">SHOES, BAG CLEANING AND REPAIR</h5>
          <p class="card-text card-middle-info">Professional cleaning, laundry, and repair of your shoes and bags to
            make them look new again. Customized treatment as per the fabric.</p>
        </div>
        <button routerLink="/service"
          class="text-center houte-culture-btn d-flex justify-content-between align-items-center bg-secondary-subtle p-1 mt-2"><span>More
            About Shoes, Bag Cleaning and Repair</span><i class="fa-solid fa-chevron-right next-icon fs-6"></i></button>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 px-3">
      <div class="card">
        <img src="https://kellysdrycleaners.com/wp-content/uploads/KDC-Stack-of-sweaters.webp"
          class="card-img-top card-image mb-3" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold card-heading-font mb-1">WOOLENS DRY CLEANING</h5>
          <p class="card-text card-middle-info">With our Woolmark approved Lagoon technology, your woolen clothes will
            retain their shape, size and fluffiness.</p>
        </div>
        <button routerLink="/service"
          class="text-center houte-culture-btn d-flex justify-content-between align-items-center bg-secondary-subtle p-1 mt-2"><span>More
            About Woolens Dry Cleaning</span><i class="fa-solid fa-chevron-right next-icon fs-6"></i></button>
      </div>
    </div>
  </div>
  <div class="row p-4">
    <div class="col-lg-4 col-md-4 px-3">
      <div class="card">
        <img src="https://cdn.fantasticservices.com/wp-content/uploads/2016/11/Curtain-cleaning-technician.png"
          class="card-img-top card-image mb-3" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold card-heading-font mb-1">CURTAIN CLEANING</h5>
          <p class="card-text card-middle-info">One stop solution for dry cleaning your silk, cotton, velvet or chenille
            curtains. We remove and hang the curtains back after cleaning as a complimentary service.</p>
        </div>
        <button routerLink="/service"
          class="text-center houte-culture-btn d-flex justify-content-between align-items-center bg-secondary-subtle p-1 mt-2"><span>More
            About Curtain Cleaning</span> <i class="fa-solid fa-chevron-right next-icon fs-6"></i></button>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 px-3">
      <div class="card">
        <img
          src="https://www.leatherneo.com/cdn/shop/articles/img-1704852097687_af040b6c-c2aa-42c3-a67c-bc3048b3d9a0.jpg?v=1704852351"
          class="card-img-top card-image mb-3" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold card-heading-font mb-1">LEATHER DRY CLEANING AND REPAIR</h5>
          <p class="card-text card-middle-info">Dry cleaning process using Italian creams, oils and machines for your
            leather shoes, handbags, jackets, wallets/purses and belts. Repair services are also available.</p>
        </div>
        <button routerLink="/service"
          class="text-center houte-culture-btn d-flex justify-content-between align-items-center bg-secondary-subtle p-1 mt-2"><span>More
            About Leather Dry Cleaning</span> <i class="fa-solid fa-chevron-right next-icon fs-6"></i></button>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 px-3">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgxTy0yTl6x3cY08xqTG-xaGX4mIFLdFzsOA&s"
          class="card-img-top card-image mb-3" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title fw-bold card-heading-font mb-1">CARPET CLEANING</h5>
          <p class="card-text card-middle-info">An intense, deep-cleaning of carpets with 100% eco-friendly detergents
            and technologically advanced machines. Experts in Persian rugs, Silk carpets and Turkish carpets.</p>
        </div>
        <button routerLink="/service"
          class="text-center houte-culture-btn d-flex justify-content-between align-items-center bg-secondary-subtle p-1 mt-2"><span>More
            About Carpet Cleaning</span><i class="fa-solid fa-chevron-right next-icon fs-6"></i></button>
      </div>
    </div>
  </div>
</div>
<div class="container m-auto Online-services-div my-lg-5 my-md-3">
  <div class="row m-auto">
    <div class="col-lg-6 col-md-6">
      <h5 class="text-center mb-4">ONLINE LAUNDRY SERVICES, <br> NOW JUST A MOBILE CLICK AWAY</h5>
      <hr>
      <p class="m-auto my-4">
        <span class="pe-3"><i class="fa-solid fa-clock"></i></span>
        <span>Schedule Pickup</span>
      </p>
      <p class="m-auto my-4">
        <span class="pe-3"><i class="fa-solid fa-route"></i></span>
        <span>Track Order Status</span>
      </p>
      <p class="m-auto my-4">
        <span class="pe-4"><i class="fa-solid fa-indian-rupee-sign"></i></span>
        <span> Pay Online</span>
      </p>
      <hr>
      <h6 class="text-center mt-lg-5 mt-md-3">Mobile App Available on Play Store and iOS App Store</h6>
      <div class="d-flex justify-content-between align-items-center playstore-img m-auto mt-lg-4 mt-md-3 mt-3">
        <a href="https://play.google.com/apps"><img src="/assets/Images/playstore.png"></a>
        <a href="https://www.apple.com/in/store"><img src="/assets/Images/applestore.png"></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 m-auto text-center">
      <div class="joinus-div align-content-center">
        <img src="/assets/Images/joinus1.png" alt="" class=" img1">
        <img src="/assets/Images/joinus2.png" alt="" class=" img2">
        <img src="/assets/Images/joinus3.png" alt="" class=" img3">
      </div>
    </div>
  </div>
</div>
<div class="container van-section m-auto">
  <h3 class="text-center fw-bold p-4">BEST DRY CLEANERS IN NAGPUR, WITH FREE HOME DELIVERY</h3>
  <hr class="hr-content mt-0" />
  <div>
    <p class="text-center p-4">Tumbledry provides free home pickup and delivery at a time of your convenience. We also
      provide express and same day delivery service.</p>
  </div>
  <div class="row mobile-view">
    <div class="col-lg-6 colo-sm-6 col-md-6 pt-lg-5 pt-md-2">
      <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
          <i class="fa-solid fa-van-shuttle p-2 mt-sm-2 van-icon"></i>
          <h4 class="heading-part">NORMAL DELIVERY</h4>
          <p class="heading-para">- Standard charges as per price list <br>
            - 4 Day Delivery TAT</p>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
          <i class="fa-solid fa-truck-fast p-2 van-icon"></i>
          <h4 class="heading-part">EXPRESS DELIVERY</h4>
          <p class="heading-para">- Double charges <br>
            - Same day or next day delivery</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 colo-sm-6 col-md-6">
      <img class="van-img"
        src="https://res.cloudinary.com/ho5waxsnl/image/upload/c_fill,f_auto,h_540,q_auto,w_960/hke7x2ovvntz9ljv3h7j68pckhit"
        alt="van" />
    </div>
  </div>
  <div class="text-center p-4">
    <button class="schedulepickup-btn" routerLink="/login">Schedule Free Pickup</button>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-6 d-flex justify-content-end ">
    <div class="whatsapp">
      <a (click)="openWhatsApp()">
        <i class="fa-brands fa-whatsapp" style="color: #48af46;font-size: 40px; 
              cursor: pointer;"></i>
      </a>
    </div>
  </div>
</div>