<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="home-img-banner">
        <div class="banner-content1">
          <h1 class="fw-bold fontstyle anim">
            Find Your Best Laundry Services</h1>
          <button class="py-2 mt-3 anim" (click)="goToServicePage()">Order Now</button>
          <h5 class="text-light fw-bolder mt-4 anim text-uppercase ">Laundryholic</h5>
          <h6 class="text-light fw-bolder mt-1 anim fw-bold">" Best laundry service provider in India "</h6>
          <h3 class="anim fw-bold mt-3 text-warning">Repairing, Dyeing, Alteration, Cleaning, etc</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid Services mb-5">
  <div class="d-flex flex-column">
    <h1 class="fw-bold fontstyles mb-2 text-center">Our Services</h1>
    <div class="card-container">
      <div class="row d-flex justify-content-evenly align-items-center">
        <div class="col-lg-3 col-md-6 col-sm-6 card-block">
          <div class="card">
            <img src="/assets/Images/dry cleaning.png" class="card-img-top px-3 py-2" alt="...">
            <div class="card-body d-flex flex-column justify-content-evenly align-items-center">
              <h5 class="card-title">Dry Cleaning</h5>
              <div class="arrow" (click)="goToServicePage()">
                Schedule Now
                <i class="fa fa-long-arrow-right py-3" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 card-block">
          <div class="card">
            <img src="/assets/Images/leather dry cleaning & repair.png" class="card-img-top px-3 py-2" alt="...">
            <div class="card-body d-flex flex-column justify-content-evenly align-items-center">
              <h5 class="card-title">Leather Cleaning</h5>
              <div class="arrow" (click)="goToServicePage()">
                Schedule Now
                <i class="fa fa-long-arrow-right py-3" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 card-block">
          <div class="card">
            <img src="/assets/Images/home laundry.png" class="card-img-top px-3 py-2" alt="...">
            <div class="card-body d-flex flex-column justify-content-evenly align-items-center">
              <h5 class="card-title">Home Cleaning</h5>
              <div class="arrow" (click)="goToServicePage()">
                Schedule Now
                <i class="fa fa-long-arrow-right py-3" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 card-block">
          <div class="card">
            <img src="/assets/Images/pet laundry.png" class="card-img-top px-3 py-2" alt="...">
            <div class="card-body d-flex flex-column justify-content-evenly align-items-center">
              <h5 class="card-title">Pet Laundry</h5>
              <div class="arrow" (click)="goToServicePage()">
                Schedule Now
                <i class="fa fa-long-arrow-right py-3" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid best ">
  <h1 class="fontstyles text-center m-auto">Why we are the best?</h1>
  <div class="row best-content my-5">
    <div class="col-lg-3 col-md-6 col-sm-12">
      <div class="row d-flex justify-content-between align-items-center mb-3">
        <div class="col-lg-4 col-md-4 col-sm-3 best1">
          <img src="/assets/Images/wash & iron.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 best2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, perferendis!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="row d-flex justify-content-evenly align-items-center mb-3">
        <div class="col-lg-4 col-md-4 col-sm-3 best1">
          <img src="/assets/Images/blanket double.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 best2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, perferendis!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="row d-flex justify-content-evenly align-items-center mb-3">
        <div class="col-lg-4 col-md-4 col-sm-3 best1">
          <img src="/assets/Images/button stiching.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 best2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, perferendis!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="row d-flex justify-content-evenly align-items-center mb-3">
        <div class="col-lg-4 col-md-4 col-sm-3 best1">
          <img src="/assets/Images/carpet.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 best2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, perferendis!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row best-content">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="row d-flex justify-content-evenly align-items-center mb-3">
        <div class="col-lg-4 col-md-4 col-sm-3 best1">
          <img src="/assets/Images/steam iron.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 best2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, perferendis!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="row d-flex justify-content-evenly align-items-center mb-3">
        <div class="col-lg-4 col-md-4 col-sm-3 best1">
          <img src="/assets/Images/pet laundry.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 best2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, perferendis!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="row d-flex justify-content-evenly align-items-center mb-3">
        <div class="col-lg-4 col-md-4 col-sm-3 best1">
          <img src="/assets/Images/blazer.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 best2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, perferendis!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="row d-flex justify-content-evenly align-items-center mb-3">
        <div class="col-lg-4 col-md-4 col-sm-3 best1">
          <img src="/assets/Images/premium laundry.png" alt="">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-9 best2">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat, perferendis!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center best-service d-flex flex-column justify-content-center align-items-center ">
  <div class="row py-4 bestservice">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <h1 class="fw-bold fontstyles">India's best & trusted Laundry service provider</h1>
      <h3 class="fw-bold mb-2">Quality cleaning in affordable price</h3>
      <p>We offer added advantage of complementary home pickup and drop at the order of above <span>Rs.299</span>
        at our serviceable location. Book your laundry at any time and enjoy your stress free laundry</p>
    </div>
  </div>
</div>
<div class="container-fluid workflow">
  <h1 class="fontstyles text-center my-3">How we work ?</h1>
  <div class="row ">
    <div class="col-lg-6 col-md-12 col-sm-6 m-auto workflow-container">
      <img src="/assets/Images/Laundryworkflow.png" class="m-4" alt="workflowimg">
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12">
      <div class="row d-flex justify-content-evenly align-items-center my-4">
        <div class="col-lg-2 col-md-12 col-sm-6 count">
          <span>1</span>
        </div>
        <div class="col-lg-10 col-sm-6 col-md-12 w-75">
          <p class="fw-bold">Customer will <span class="text-success">signup</span> to the
            Laundryholic
            application and will be able to create order for their garments any time.
          </p>
        </div>
      </div>
      <div class="row d-flex justify-content-evenly align-items-center my-4">
        <div class="col-lg-2 col-md-12 col-sm-6 count">
          <span>2</span>
        </div>
        <div class="col-lg-10 col-sm-6 col-md-12 w-75">
          <p class="fw-bold">On the next step, customer will <span class="text-success">select</span> a
            laundry which best fits their budget, which gives them the best experience of laundry service.
          </p>
        </div>
      </div>
      <div class="row  d-flex justify-content-evenly align-items-center my-4">
        <div class="col-lg-2 col-md-12 col-sm-6 count">
          <span>3</span>
        </div>
        <div class="col-lg-10 col-sm-6 col-md-12 w-75">
          <p class="fw-bold">After the order is confirmed, delivery boy will collect the clothes from the
            <span class="text-primary">customer's location</span> and give them to the laundry store
          </p>
        </div>
      </div>
      <div class="row  d-flex justify-content-evenly align-items-center my-4">
        <div class="col-lg-2 col-md-12 col-sm-6 count">
          <span>4</span>
        </div>
        <div class="col-lg-10 col-sm-6 col-md-12 w-75">
          <p class="fw-bold">The garments collected from the customer will undergo a thorough <span
              class="text-primary">dry cleaning</span> process using industry leading <span
              class="text-warning">equipments and solvents</span></p>
        </div>
      </div>
      <div class="row  d-flex justify-content-evenly align-items-center my-4">
        <div class="col-lg-2 col-md-12 col-sm-6 count">
          <span>5</span>
        </div>
        <div class="col-lg-10 col-sm-6 col-md-12 w-75">
          <p class="fw-bold">Once the garments are washed, it will be send for folding and packaging process.
            Now the <span class="text-primary">freshly dry cleaned garments are carefully folded and
              packed.</span></p>
        </div>
      </div>
      <div class="row  d-flex justify-content-evenly align-items-center my-4">
        <div class="col-lg-2 col-md-12 col-sm-6 count">
          <span>6</span>
        </div>
        <div class="col-lg-10 col-sm-6 col-md-12 w-75">
          <p class="fw-bold">The order after packaging will be <span class="text-success">delivered</span> to
            the customer's location within the given period of time.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid my-3 testimonials">
  <h3 class="fontstyles text-center">Client Testimonials</h3>
  <h6 class="text-center fw-light">Don't take our words for it - here's what our clients say</h6>
  <div class="row mt-5">
    <div class="col-lg-4 col-md-6 col-sm-4 d-flex justify-content-center align-items-center">
      <div class="card-testimonial w-75 d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/Images/profilephoto.jpg" class="card-img-top mt-3 mt-3" alt="...">
        <div class="card-body">
          <h5 class="text-center p-2">John Doe</h5>
          <p class="text-center"><i class="fa-solid fa-quote-right"></i></p>
          <h6 class="text-center">
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star-half-stroke text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </h6>
          <p class="card-text text-center fw-light mb-3 px-3 py-1">Some quick example text to build on the
            card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-4 d-flex justify-content-center align-items-center">
      <div class="card-testimonial w-75 d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/Images/profilephoto.jpg" class="card-img-top mt-3 mat-h3" alt="...">
        <div class="card-body">
          <h5 class="text-center p-2">John Doe</h5>
          <p class="text-center"><i class="fa-solid fa-quote-right"></i></p>
          <h6 class="text-center">
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star-half-stroke text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </h6>
          <p class="card-text text-center fw-light mb-3 px-3 py-1">Some quick example text to build on the
            card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-4 d-flex justify-content-center align-items-center m-auto">
      <div class="card-testimonial w-75 d-flex flex-column justify-content-center align-items-center">
        <img src="/assets/Images/profilephoto.jpg" class="card-img-top mt-3" alt="...">
        <div class="card-body">
          <h5 class="text-center p-2">John Doe</h5>
          <p class="text-center"><i class="fa-solid fa-quote-right"></i></p>
          <h6 class="text-center">
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star text-warning"></i>
            <i class="fa-solid fa-star-half-stroke text-warning"></i>
            <i class="fa-regular fa-star text-warning"></i>
          </h6>
          <p class="card-text text-center fw-light mb-3 px-3 py-1">Some quick example text to build on the
            card title and make up the bulk of the
            card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid py-2 mt-5">
  <div class="row counter p-5">
    <h2 class="text-center fw-bold">India's Trusted Laundry Service Provider</h2>
    <div class="col-lg-3 col-sm-6 col-md-3 d-flex flex-column justify-content-center align-items-center">
      <h1 class="py-3">1k+</h1>
      <p class="text-center fw-bold p-2 fs-5">Our Customer's</p>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-3 d-flex flex-column justify-content-center align-items-center">
      <h1 class="py-3">1k+</h1>
      <p class="text-center fw-bold p-2 fs-5">Our Branches</p>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-3 d-flex flex-column justify-content-center align-items-center">
      <h1 class="py-3">1k+</h1>
      <p class="text-center fw-bold p-2 fs-5">Our Venders</p>
    </div>
    <div class="col-lg-3 col-sm-6 col-md-3 d-flex flex-column justify-content-center align-items-center">
      <h1 class="py-3">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star-half-stroke"></i>
        <i class="fa-regular fa-star"></i>
      </h1>
      <p class="text-center fw-bold p-2 fs-5">Ratings</p>
    </div>
  </div>
</div>
<div class="container-fluid feedback-container py-4">
  <h1 class="fontstyles text-center">Send Feedback</h1>
  <p class="text-center">We appreciate your valuable feedback</p>
  <div class="row m-auto">
    <form [formGroup]="signUpForm" (ngSubmit)="handleSubmit()" class="mt-4 form">
      <input class="px-3 py-3 my-3" type="text" [class.is-invalid]="f['fullname'].invalid && f['fullname'].touched"
        placeholder="Full Name" formControlName="fullname" required>
      <p *ngIf="f['fullname'].invalid && f['fullname'].touched" style=" color:red; padding-left:5px">
        Full name is required</p>

      <input class="px-3 py-3 my-3" type="email" [class.is-invalid]="f['email'].invalid && f['email'].touched"
        placeholder=" Your Email Address" formControlName="email" required>
      <p *ngIf="f['email'].invalid && f['email'].touched" style=" color:red; padding-left:5px">Email is
        required</p>

      <input class="px-3 py-3 my-3" [class.is-invalid]="f['number'].invalid && f['number'].touched"
        placeholder="Mobile Number" formControlName="number" required>
      <p *ngIf="f['number'].invalid && f['number'].touched" style=" color:red; padding-left:5px">Mobile
        number is required</p>

      <textarea class="px-3 py-3 my-3" [class.is-invalid]="f['text'].invalid && f['text'].touched"
        placeholder="Feedback here" formControlName="text" required></textarea>
      <p *ngIf="f['text'].invalid && f['text'].touched" style=" color:red; padding-left:5px">Feedback is
        required
      </p>

      <div class=" d-flex justify-content-center align-items-center mt-4">
        <button type="submit" [disabled]="signUpForm.invalid" class="contact-submit-btn px-5 py-2">Submit</button>
      </div>
    </form>
  </div>
</div>
<!-- whatsapp -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-6 d-flex justify-content-end ">
    <div class="whatsapp">
      <a (click)="openWhatsApp()">
        <i class="fa-brands fa-whatsapp" style="color: #48af46;font-size: 40px; 
              cursor: pointer;"></i>
      </a>
    </div>
  </div>
</div>