* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  --themecolor: #30d5c7;
  --white-text: rgb(255, 255, 255);
  --text-gray: #4e5659;
  --bg-color: #dcdcdc;
}

.labels {
  color: var(--themecolor);
}

.second img {
  height: 98px;
  border-radius: 8px;
}

.first a {
  font-size: 30px;
}

.first1 a i,
.first3 a i {
  cursor: pointer;
}

.mat-expansion-panel{
 width: 95%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown1{
    width: fit-content;
  }
  .first1 {
    width: fit-content;
  }

  .first2 {
    width: fit-content;
  }

  .first3 {
    width: fit-content;
  }

  .item1 {
    width: fit-content;
    margin-right: 20px;
  }

  .item2 {
    width: fit-content;
  }

  .item3 {
    width: fit-content;
  }
}