.order-heading h6{
    margin-left: 10px;
    text-align: center;
    color:#30D5C7;
    font-size: 18px;
}
.order-heading i{
    font-size: 20px;
    cursor: pointer;
}
.track-order-icons i{
    background-color: #30D5C7;
    font-size: 40px;
    color: white;
    border-radius: 50px;
    padding: 8px; 
    
}
.track-order-icons{
    width: fit-content;
}
.track-order-text{
    margin-top: -72px;
}
.track-order-text p{
    color:#30D5C7;
    line-height: 5px;
    
}
.track-line{
    color: gray;
    margin-left: 11px;
}
.track-order-text-delivered p{
    color:#30D5C7;
    line-height: 5px;
}
.delivered{
    margin-top: -8px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .track-line{
        margin-top: -4px;
        margin-left: 11px;
    }
    .track-order-icons{
        width: fit-content;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .track-line{
        margin-top: -4px;
        margin-left: 0px;
    }
    .track-order-icons{
        width: fit-content;
    }
    .track-order-icons i{
        background-color: #30D5C7;
        font-size: 30px;
        color: white;
        border-radius: 50px;
        padding: 6px;   
    }
    .track-order-text{
        margin-top: -66px;
        font-size: 12px;
    }
    .track-order-text h6{
        font-size: 14px;
    }
    .track-order-text-delivered{
        margin-top: -4px;
        font-size: 12px;
    
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    .track-line{
        margin-top: -4px;
        margin-left: 11px;
    }
    .track-order-icons{
        width: fit-content;
    }
}