<div class="container-fluid">
    <div class="order-heading d-flex ms-2">
        <span><i class="fas fa-angle-left" (click)=" goBack()"></i></span>
        <h6>Track Order</h6>
    </div>
</div>
<mat-vertical-stepper>
    <mat-step label="Order Accepted" state="phone">
        <p style="color: #30D5C7">April 16 2024 | 03:15 pm</p>
    </mat-step>
    <mat-step label="Coming to Collect Order" state="chat">
        <p style="color: #30D5C7">April 16 2024 | 03:15 pm</p>

    </mat-step>
    <mat-step label="Laundry In Process">
        <p style="color: #30D5C7">April 16 2024 | 03:15 pm</p>
    </mat-step>
    <mat-step label="Pickup from Laundry Store">
        <p style="color: #30D5C7">April 16 2024 | 03:15 pm</p>
    </mat-step>
    <mat-step label="Delivered">
        <p style="color: #30D5C7">April 16 2024 | 03:15 pm</p>
    </mat-step>
<mat-vertical-stepper>