<div class="container-fluid h-25">
    <div class="container-fluid">
        <div class="row logo my-3">
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-center align-items-center">
                <img src="/assets/Images/laundry.png" alt="" class="m-auto">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <ul>
                    <li>Laundryholic - Usquare Laundry Solutions Pvt Ltd</li>
                    <li><a href="https://www.google.co.in/maps/place/Laundryholic/@21.1184589,79.1117509,17z/data=!4m14!1m7!3m6!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!2sLaundryholic!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf!3m5!1s0x3bd4b90074eed115:0x54bd0e3ede6728cf!8m2!3d21.1184589!4d79.1143258!16s%2Fg%2F11vj_hzsrf?entry=ttu"
                            class="text-dark text-decoration-none">141, Dattatray Nagar, Ayodhya Nagar, Nagpur, Maharashtra,
                            440024.</a></li>
                    <li><a (click)="copyToClipboard('8983048428')" class="text-dark text-decoration-none">8983048428</a></li>
                    <li><a (click)="sendEmail()" class="text-dark text-decoration-none">support@laundryholic.com</a></li>
                    <li><a href="https://www.laundryholic.com/" class="text-dark text-decoration-none">www.laundryholic.com</a></li>
                </ul>
            </div>
        </div>
        <div class="row d-flex justify-content-center align-items-center follow-options mt-2">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="list-unstyled d-flex justify-content-evenly align-items-center fw-bold">
                    <li><a href="https://www.linkedin.com/company/laundryholic/"><i
                                class="fa-brands fa-linkedin"></i></a>
                    </li>
                    <li><a href="https://www.instagram.com/laundryholic101/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/laundryholic101/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li><a
                            href="https://www.google.co.in/search?q=Laundryholic%2C+Nagpur%2C+Maharashtra&sca_esv=4cb3c826a86dcae5&sca_upv=1&sxsrf=ACQVn0_ony14GF8gS7Q4ySvBQ8wPskjmHw%3A1712726771296&ei=8yIWZt3jEeHkseMPv5eiwAM&ved=0ahUKEwidqbO29LaFAxVhcmwGHb-LCDgQ4dUDCBA&uact=5&oq=Laundryholic%2C+Nagpur%2C+Maharashtra&gs_lp=Egxnd3Mtd2l6LXNlcnAiIUxhdW5kcnlob2xpYywgTmFncHVyLCBNYWhhcmFzaHRyYTICECZI-wFQAFgAcAB4AJABAJgBmAGgAZgBqgEDMC4xuAEDyAEA-AEBmAIBoAKiAZgDAJIHAzAuMaAHrQE&sclient=gws-wiz-serp"><i
                                class="fa-brands fa-google"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid  footer-container d-flex flex-column justify-content-center align-items-bottom">
        <div class="row d-flex flex-row text-center
    justify-content-between align-items-center mt-4">
            <div class="col-lg-4 footer-third">
                <p class="font-weight-light"><a href="" class="text-decoration-none text-dark">© Laundryholic</a> | <a
                        href="" class="text-decoration-none text-dark"> All Rights Reserved</a></p>
            </div>
            <div class="col-lg-4 footer-third">
                <p><a (click)="gotoPrivacyPolicy()" class="text-decoration-none text-dark fw-light">Privacy
                        Policy</a> | <a (click)="gotoTermsAndConditionsCustPage()"
                        class="text-decoration-none text-dark fw-light">Terms and
                        conditions(customer)</a></p>
            </div>
            <div class="col-lg-4 footer-third">
                <p><a (click)="gotoTermsAndConditionsVendeorPage()"
                        class="text-decoration-none text-dark fw-light">Terms
                        and
                        conditions(vender)</a></p>
            </div>
        </div>
    </div>
</div>