.footer-container {
    background-color: #30d5c7;
    color: rgb(0, 0, 0);
}

.footer-third p a:hover {
    color: gray;
    cursor: pointer;
}

.follow-options li {
    background-color: #e1fffd;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transition: 0.4s;
}

.follow-options li:hover {
    font-size: 50px;
    background: none;
    border: none;
}

.follow-options li a {
    color: #30d5c7;
}

@media screen and (max-width: 480px) {
    .follow-options li {
        width: 30px;
        height: 30px;
        font-size: medium;
    }
    .footer-container{
        font-size: 10px;
    }
}