<div class="container m-auto ">
    <div class="row first mt-2 m-2">
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-start align-items-center w-50">
            <span (click)="goBack()" class="d-flex align-items-center justify-content-center back-arrow">
                <i class="fa-solid fa-angle-left"></i>
            </span>
            <span class="labels fw-bold fs-5 ms-4">
                Add Money to Wallet
            </span>
        </div>
    </div>

    <div class="row second m-2">
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column my-4">
            <label class="ms-3 mb-3 fs-4 fw-bold">Enter Amount</label>
            <input class="py-3 px-3" placeholder="Enter amount here" id="amountInput" #amountInput>
            <p class="ms-3 para">Minimum <i class="fa-solid fa-indian-rupee-sign"></i> 1000 required in your wallet</p>
        </div>
    </div>

    <div class="row third d-flex flex-column justify-content-evenly align-items-center m-2">
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-evenly align-items-center mb-1">
            <label for="amount" class="backcolor py-2 px-3 rounded" (click)="updateInput($event)">
                <i class="fa-solid fa-indian-rupee-sign"></i>100
            </label>
            <label for="amount" class="backcolor py-2 px-3 rounded" (click)="updateInput($event)">
                <i class="fa-solid fa-indian-rupee-sign"></i>200
            </label>
            <label for="amount" class="backcolor py-2 px-3 rounded" (click)="updateInput($event)">
                <i class="fa-solid fa-indian-rupee-sign"></i>300
            </label>
            <label for="amount" class="backcolor py-2 px-3 rounded" (click)="updateInput($event)">
                <i class="fa-solid fa-indian-rupee-sign"></i>400
            </label>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 d-flex justify-content-evenly align-items-center mt-1">
            <label for="amount" class="backcolor py-2 px-3 rounded" (click)="updateInput($event)">
                <i class="fa-solid fa-indian-rupee-sign"></i>500
            </label>
            <label for="amount" class="backcolor py-2 px-3 rounded" (click)="updateInput($event)">
                <i class="fa-solid fa-indian-rupee-sign"></i>600
            </label>
            <label for="amount" class="backcolor py-2 px-3 rounded" (click)="updateInput($event)">
                <i class="fa-solid fa-indian-rupee-sign"></i>700
            </label>
            <label for="amount" class="backcolor py-2 px-3 rounded" (click)="updateInput($event)">
                <i class="fa-solid fa-indian-rupee-sign"></i>800
            </label>
        </div>
    </div>

    <div class="row fourth mt-4 m-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button class="py-3 px-2">Continue</button>
        </div>
    </div>
</div>