*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:host{
    --themecolor: #30d5c7;
    --white-text: rgb(255, 255, 255);
    --text-gray: #4e5659;
    --bg-color: #f2f3f3;
}
.labels{
    color: var(--themecolor);
}
.para{
    color: var(--text-gray);
}
.backcolor{
    background-color: var(--bg-color);
}

.first .back-arrow{
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: var(--bg-color);
    border-radius: 50px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
}
.second input{
    border: 2px solid var(--themecolor);
    border-radius: 8px;
}
.second label{
    color: var(--text-gray);
}

.third label:hover{
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}


.fourth button{
    width: 100%;
    border: 1px solid var(--themecolor);
    border-radius: 50px;
    background: none;
    color: var(--white-text);
    background-color: var(--themecolor);
}
.fourth button:hover{
    background-color: var(--white-text);
    color: var(--themecolor);
    border: 1px solid var(--themecolor);
}