
<div class="container m-auto mb-3 backcolor content">
    <div class="row image">
        <div class="col-lg-12 top-section">
            <img src="/assets/Images/terms.jpg" alt="terms and conditions bg">
            <h1 class="text-center fw-bolder fs-1 top-content themecolor">Terms & Conditions for Customer</h1>
            <p class="text-center fw-light top-content themecolor">Before proceeding further, please agree to our terms and conditions as
                mentioned
                below.</p>
        </div>
    </div>
    <div class="container home m-auto">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 pb-3 px-3">
                <h4 class="fs-6"><a class="text-decoration-none themecolor" href="">Home</a> | <a
                        class="text-decoration-none terms" href="">Term's & Conditions</a></h4>
            </div>
        </div>
    </div>
    <div class="container m-auto">
        <div class="row mt-4 d-flex flex-column justify-content-center align-items-center">
            <div class="col">
                <p class="text-left fw-light pb-4 px-3">
                    Welcome to the laundryholic website. This page tells you about the terms and conditions (Terms of
                    Use) on which you may use or access our website - www.laundryholic.com (our site). Please read these
                    Terms of Use carefully before you start to use our site. By using or accessing our site, you
                    acknowledge that you accept these Terms of Use and that you agree to abide by them. The Privacy
                    Policy published on our website must be read in conjunction with these Terms of Use and forms part
                    of these Terms of Use.
                </p>
            </div>
            <div class="col">
                <ul class="list-unstyled">
                    <li class="px-3 mb-4">
                        <h3 class="themecolor fs-4">About Us :</h3>
                        <p class="fw-light">
                            www.laundryholic.com is a website operated by USQUARE LAUNDRY SOLUTIONS PVT. LTD. We are
                            registered in Nagpur, India with our registered office at USquare laundry Solutions Pvt.Ltd.
                            2nd Floor, Plot No. 141 Dattatray Nagar, Ayodhya Nagar,Nagpur, Nagpur- 440024 Maharashtra,
                            India
                        </p>
                    </li>
                    <li class="px-3 mb-4">
                        <h3 class="themecolor fs-4">Purchase of Products from Laundryholic.com :</h3>
                        <p class="fw-light">
                            The purchase of any products/services through our site is governed by our Terms.
                        </p>
                    </li>
                    <li class="px-3 mb-4">
                        <h3 class="themecolor fs-4">Your Personal Information :</h3>
                        <p class="fw-light">
                            When contacting us through the site, you may provide certain personal information. We
                            process information about you in accordance with our Privacy Policy which is available on
                            our website.
                        </p>
                    </li>
                    <li class="px-3 mb-4">
                        <h3 class="themecolor fs-4">Your Account and Password :</h3>
                        <p class="fw-light">
                            You agree and understand that our site and the contents are intended for parties who are
                            competent to enter into binding contracts under the applicable laws of India. You hereby
                            represent that you are competent to contract under applicable laws of India.
                            <br><br>
                            You understand that for the purpose of effectively using some features of our site you will
                            be required to register as a user on our site and provide accurate information at the time
                            of registration, as well as when you avail of any services that are available to registered
                            users on our site.
                            <br><br>
                            You represent that you have all rights required to provide the information that you have
                            provided on our site, and represent that it is true and accurate.
                            <br><br>
                            All your information will be used and processed in accordance with these Terms of Use and
                            the Privacy Policy. You agree that you have read and understood the Privacy Policy.
                            <br><br>
                            You will have to register with our site by providing personal details requested for the
                            purpose of registration. You hereby grant us the right to store and use such information in
                            a manner (either singularly or as an aggregate with information provided by other users on
                            our site) that improves features and functionalities of our site or for undertaking any
                            other analytics in relation to such information.
                            <br><br>
                            If you set up an account on our site, you must treat your login details as confidential. You
                            must not disclose them to any third party. You agree and undertake to access our site only
                            using the username and password sent to you. We may in our sole discretion permit or deny
                            your registration on our site.
                            <br><br>
                            We have the right to disable any account at any time without notice to you, if in our
                            reasonable opinion you have failed to comply with any of the provisions of these Terms of
                            Use and you waive any right to claim access to our site or any other claim that you may
                            have. Any data of your usage may be retained or deleted at our sole discretion.
                            <br><br>
                            You will be solely responsible for all your acts on our site including those conducted under
                            the username assigned to you. If you know or suspect that anyone other than you knows your
                            login details, you must promptly notify us at support@laundryholic.com.
                            <br><br>
                        </p>
                    </li>
                    <li class="px-3 mb-4">
                        <h3 class="themecolor fs-4">Rules for acceptable use :</h3>
                        <p class="fw-light">(a) circumvent, disable or otherwise interfere with any security related
                            features of the site or features that prevent or restrict use or copying of the content
                            accessible via the site;
                            <br>
                            (b) display, transmit, publish or share information that belongs to another person and to
                            which you do not have any right or give any false information in your account details;
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container m-auto">
        <div class="row d-flex flex-column justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-start align-items-center">
                <input class="ms-3 checkbox" type="checkbox" name="" id="check"><label class="p-2 terms checkbox" for="check">I agree to the following terms
                    and condtions</label>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 w-100 d-flex justify-content-center align-items-center my-3">
                <button class="rounded px-3 py-2 agree themecolor" (click)="gotoHome()">Agree and continue</button>
            </div>
        </div>
    </div>
</div>


