<div class="container main-container m-auto" *ngIf="hideSchedulePickup">
    <div class="row back-container">
        <div class="col-lg-12 col-sm-12 col-md-12 back-button fs-4">
            <button (click)=" goBack()"><i class="fas fa-angle-left"></i></button>
            <span class="label">Schedule Pickup</span>
        </div>
    </div>
    <div class="row address-container m-auto">
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
            <h6 class="ms-2">Address:</h6>
            <p class="d-flex justify-content-between align-items-center mt-1 p-2 border">
                <span>Home 1/2, telephone nagar, near mobile square, Nagpur</span>
                <a class="text-decoration-none" href="#"><span class="label">Change</span></a>
            </p>
        </div>
    </div>
    <form [formGroup]="scheduleForm" (ngSubmit)="handleSubmit()">
        <div class="row delivery-methods d-flex justify-content-evenly align-items-center mt-3 m-auto">
            <h6 class="ms-2">Delivery methods</h6>
            <div class="col-lg-6 col-md-6 col-sm-6 deliverynormal">
                <button
                    class="text-decoration-none d-flex flex-column justify-content-center align-items-center delivery-mode1 mt-1 p-3"
                    (click)=" showActivePopUp()" (click)="handleNormalDeliveryClick($event)"
                    [class.is-invalid]="f['deliveryMode'].invalid && f['deliveryMode'].touched" placeholder="Full Name"
                    formControlName="deliveryMode"[(ngModel)]="deliveryMode" >
                    <span>
                        <img src="/assets/Images/normaldelivery.png" alt="delivery" class="normal">
                    </span>
                    <h6 class="fw-light">Normal</h6>
                    <span>Delivery in 48 hours</span>
                    <span>Standard Rates</span>
                </button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 deliveryexpress">
                <button
                    class="text-decoration-none d-flex flex-column justify-content-center align-items-center delivery-mode2 mt-1 p-3"
                    (click)="showNormalPopUp()" (click)="handleExpressDeliveryClick($event)"
                    [class.is-invalid]="f['deliveryMode'].invalid && f['deliveryMode'].touched" placeholder="Full Name"
                    formControlName="deliveryMode" [(ngModel)]="deliveryMode">
                    <span>
                        <img src="/assets/Images/expressdelivery.png" alt="delivery" class="express">
                    </span>
                    <h6 class="fw-light">Express</h6>
                    <span>Delivery in 28 hours</span>
                    <span>Standard Rates</span>
                </button>
            </div>
            <p *ngIf="f['deliveryMode'].invalid && f['deliveryMode'].touched" style=" color:red; padding-left:5px">
                Please select a delivery mode</p>
        </div>

        <div class="choose-pickup-date m-auto mt-2">
            <h6 class="ms-2">Choose Pickup Date</h6>
            <div class="slider-wrapper">
                <div class="slider-container d-flex justify-content-evenly align-items-center">
                    <div class="icon-container">
                        <div class="icon-inner-container home-main-card ">
                            <a class="a-link-normal text-decoration-none">
                                <ul class="d-flex justify-content-center list-unstyled">
                                    <span class="currentmonth pe-3">{{ currentDate }}</span>
                                    <li class="pe-3" *ngFor="let month of months"> {{ month }}</li>
                                </ul>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="choose-pickup-date m-auto">
                <input type="date" [class.is-invalid]="f['date'].invalid && f['date'].touched" placeholder="Full Name"
                    formControlName="date" />
                <p *ngIf="f['date'].invalid && f['date'].touched" style=" color:red; padding-left:5px">
                    Date is mandatory</p>
            </div>
            <div class="row choose-time-slot mt-3 m-auto d-flex justify-content-evenly align-items-center">
                <h6 class="ms-2 mb-2">Choose Time Slot</h6>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center py-1 slots">
                    <button class="rounded slots py-2"
                        [class.is-invalid]="f['timeSlot'].invalid && f['timeSlot'].touched"
                        [class.selected]="isTimeSlotSelected('7am to 10am')" (click)="selectTimeSlot('7am to 10am')"
                        formControlName="timeSlot">
                        7am to 10am
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center py-1 slots">
                    <button class="rounded slots py-2"
                        [class.is-invalid]="f['timeSlot'].invalid && f['timeSlot'].touched"
                        [class.selected]="isTimeSlotSelected('10am to 1pm')" (click)="selectTimeSlot('10am to 1pm')"
                        formControlName="timeSlot">
                        10am to 1pm
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center slots">
                    <button class="rounded slots py-2"
                        [class.is-invalid]="f['timeSlot'].invalid && f['timeSlot'].touched"
                        [class.selected]="isTimeSlotSelected('1pm to 4pm')" (click)="selectTimeSlot('1pm to 4pm')"
                        formControlName="timeSlot">
                        1pm to 4pm
                    </button>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-center slots">
                    <button class="rounded slots py-2"
                        [class.is-invalid]="f['timeSlot'].invalid && f['timeSlot'].touched"
                        [class.selected]="isTimeSlotSelected('4pm to 7pm')" (click)="selectTimeSlot('4pm to 7pm')"
                        formControlName="timeSlot">
                        4pm to 7pm
                    </button>
                </div>
            </div>
            <p *ngIf="f['timeSlot'].invalid && f['timeSlot'].touched" style=" color:red; padding-left:5px">
                Please select time slot</p>
            <div class="row choose-vendor mt-3 m-auto">
                <h6 class="ms-2 mb-2">Choose Vendor</h6>
                <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-items-center">
                    <button class="py-3 rounded m-auto"
                        [class.is-invalid]="f['selectVendor'].invalid && f['selectVendor'].touched"
                        *ngIf="!showvendorlist" (click)="showvendorlist=true">Select
                        Vendor</button>
                </div>
            </div>

            <!-- START SELECT VENDOR LIST -->
            <div class="row " *ngIf="showvendorlist">
                <div *ngFor="let card of cards; let i = index" (click)="selectCard(i)"
                    [ngClass]="{'hidden': selectedIndex !== null && selectedIndex !== i}">
                    <a>
                        <div class="col-lg-12 col-md-12 col-sm-12 border rounded p-2 d-flex justify-content-around align-items-center mb-1"
                            *ngIf="showvendorlist">
                            <div class="row d-flex justify-content-center align-items-center shops-list-container">
                                <div class="col-lg-3 col-md-3 col-sm-3 shop">
                                    <img [src]="card.img" alt="">
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9 shop-info">
                                    <h6 class="fw-bold">{{card.storename}}</h6>
                                    <p>{{card.address}}</p>
                                    <p class="d-flex justify-content-between align-items-center">
                                        <span class="label">1.51km</span>
                                        <span>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <i class="fa-solid fa-star" style="color: #FFD43B;"></i>
                                            <span>(4.9)</span>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row next-btn m-auto my-3">
                <button [disabled]="scheduleForm.invalid"
                    (click)="showSchedulePickup = true; hideSchedulePickup = false" class="m-auto py-2">Next</button>
            </div>
        </div>
    </form>
</div>


<!-- Schedule pickup coupen code -->

<div class="container m-auto schedulePickupContainer" *ngIf="showSchedulePickup">
    <div class="row back-container mb-4">
        <div class="col-lg-12 col-sm-12 col-md-12 back-button fs-4">
            <button (click)="showSchedulePickup = false; hideSchedulePickup = true"><i
                    class="fas fa-angle-left"></i></button>
            <span class="label">Schedule Pickup</span>
        </div>
    </div>
    <h6>Apply Coupon Code</h6>
    <div class="form-container mt-2 mb-2">
        <form>
            <input type="text" name="apply" placeholder="Enter coupon code" />
            <button>Apply</button>
        </form>
    </div>
    <h6>Redeem</h6>
    <div class=" wallet-amount d-flex justify-content-between align-items-center mt-1">
        <div class="check-box d-flex justify-content-between align-items-center">
            <input type="checkbox" name="amount" />
            <label for="Amount">Wallet Amount</label>
        </div>
        <div class="span-div">
            <span>₹50</span>
        </div>
    </div>
    <div class=" wallet-amount d-flex justify-content-between align-items-center mt-2 mb-3">
        <div class="check-box d-flex justify-content-between align-items-center">
            <input type="checkbox" name="amount" />
            <label for="Amount">LH Points</label>
        </div>
        <div class="span-div">
            <span>25 points</span>
        </div>
    </div>
    <div>
        <!-- <button class="buy-plan-btn" (click)="openModal()">Buy Plan</button> -->
        <select class="select-btn mb-3 ">
            <option class=" plan-btn select-btn-option" style="display: flex; justify-content:space-between;">
                <h6>Basic Plan ₹1000/month</h6>
            </option>
            <option style="display: flex; justify-content: center;">
                <h6>Gold Plan ₹1000/month</h6>
            </option>
            <option>
                <h6>Premium Plan ₹1000/month</h6>
            </option>
        </select>
    </div>
    <h6>Order Summery</h6>
    <div class="order-summery-div mt-1 ">
        <div class="d-flex justify-content-between   border-bottom pb-1">
            <p>Items :</p>
            <span><button class="view-btn ms-lg-3">View Items </button></span>
        </div>

        <div class="d-flex justify-content-between  border-bottom align-items-center">
            <p>Items Amount :</p>
            <p> <span class="text-gray ms-lg-3">(Inclu. GST or TAX)</span>Rs. 000.00</p>
        </div>
        <div class="d-flex justify-content-between  border-bottom ">
            <p>Delivery Charge :</p>
            <p class="ms-lg-3">Rs. 000.00</p>
        </div>
        <div class="d-flex justify-content-between  border-bottom">
            <p>Discount :</p>
            <p class="ms-lg-3">Rs. 000.00</p>
        </div>
        <div class="d-flex justify-content-between  border-bottom">
            <p>Wallet Amount :</p>
            <p class="ms-lg-3">Rs. 000.00</p>
        </div>
        <div class="d-flex justify-content-between   border-bottom">
            <p>LH Points :</p>
            <p class="ms-lg-3">2.5% </p>
        </div>
        <div class="d-flex justify-content-between   border-bottom">
            <p>Total :</p>
            <p class="ms-lg-3">Rs. 000.00</p>
        </div>
    </div>
    <div>
        <button class="Proceed-btn mt-5">Proceed Payment</button>
    </div>
</div>