<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <h2 class="set-image"><a class="navbar-brand logo" href="#"><img class="img-responsive image-style-logo" src="assets/Images/laundry.png"></a></h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Loundry">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Loundry">
        <ul class="navbar-nav ms-auto nav-style-all">
          <li class="nav-item hove-list-all">
            <a class="nav-link"  routerLink="dashboard">Dashboard</a>
          </li>
          <li class="nav-item hove-list-all">
            <a class="nav-link"  routerLink="profile">Profile</a>
          </li>
          <li class="nav-item hove-list-all">
            <a class="nav-link" routerLink="myOrder">My Orders</a>
          </li>
          <li class="nav-item hove-list-all">
            <a class="nav-link" routerLink="services">Services</a>
          </li>
          <li class="nav-item hove-list-all">
            <a class="nav-link" routerLink="wallet">Wallet</a>
          </li>
          <li class="nav-item hove-list-all">
            <a class="nav-link" routerLink="commission">Commission</a>
          </li>
          <li class="nav-item hove-list-all">
            <a class="nav-link" href="">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
