img.img-responsive.image-style-logo {
    width: 260px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
ul.navbar-nav.ms-auto.nav-style-all {
    font-size: 17px;
    font-weight: bold;
    color: #4e5659;
}
.hove-list-all:hover {
    color:#08493b;
  }
  .btn .badge {
    top: -12px !important;
}
  @media screen and (max-width:749px){
    li.nav-item.hove-list-all {
        padding-left: 11px;
        border-bottom: 1px solid #e7e7e7;
        font-size: 14px;
    }
}