<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-lg-12 col-sm-12 col-md-12 back-button fs-4">
            <button class="mx-3" (click)=" goBack()"><i class="fas fa-angle-left"></i></button>
            <span class="label"> Delivery Address</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 deliver-address">
            <div class="row d-flex justify-content-evenly align-items-center py-3">
                <div class="col-lg-2 col-sm-2 col-md-2 locicon d-flex justify-content-center align-items-center">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    </div>
                <div class="col-lg-10 col-sm-10 col-md-10 locinfo">
                    <h6 class="fw-bold">Home</h6>
                    <p>Mandir Road, Ladekar Layout, Ambika Nagar, Ayodhya Nagar, Nagpur 440024</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 deliver-address">
            <div class="row d-flex justify-content-evenly align-items-center py-3">
                <div class="col-lg-2 col-sm-2 col-md-2 locicon d-flex justify-content-center align-items-center">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    </div>
                <div class="col-lg-10 col-sm-10 col-md-10 locinfo">
                    <h6 class="fw-bold">Home</h6>
                    <p>Mandir Road, Ladekar Layout, Ambika Nagar, Ayodhya Nagar, Nagpur 440024</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 deliver-address">
            <div class="row d-flex justify-content-evenly align-items-center py-3">
                <div class="col-lg-2 col-sm-2 col-md-2 locicon d-flex justify-content-center align-items-center">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    </div>
                <div class="col-lg-10 col-sm-10 col-md-10 locinfo">
                    <h6 class="fw-bold">Home</h6>
                    <p>Mandir Road, Ladekar Layout, Ambika Nagar, Ayodhya Nagar, Nagpur 440024</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 deliver-address">
            <div class="row d-flex justify-content-evenly align-items-center py-3">
                <div class="col-lg-2 col-sm-2 col-md-2 locicon d-flex justify-content-center align-items-center">
                    <span class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    </div>
                <div class="col-lg-10 col-sm-10 col-md-10 locinfo">
                    <h6 class="fw-bold">Home</h6>
                    <p>Mandir Road, Ladekar Layout, Ambika Nagar, Ayodhya Nagar, Nagpur 440024</p>
                </div>
            </div>
        </div>
    </div>
</div>