<br>
<div class="container">
  <h1 class="text-center my-service-style">My Services</h1>
  <div class="row">
    <div class="col-lg-4 col-sm-12 style-comolete-servicebox">
      <div class="card card-services">
        <img class="card-img-top img-card-services" src="/assets/Images/Apron.png" alt="Card image">
        <div class="card-body">
          <div class="dropdown show dropdown-list">
            <a role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v icon-dot"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal"><i
                  class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
              <a class="dropdown-item" (click)="onDeleteClicked()"><i
                  class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete</a>
            </div>
          </div>
          <h4 class="card-title text-card-title ">Appron</h4>
          <p class="card-text para-text">Dry Cleaning <br>Offer Prize : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 40.00</span><br>Selling Price : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 52.00</span></p>

          <div class="form-check form-switch button-check-style" style="width: 200px; height: 100px;">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                      
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 style-comolete-servicebox">
      <div class="card card-services">
        <img class="card-img-top img-card-services" src="/assets/Images/Apron.png" alt="Card image">
        <div class="card-body">
          <div class="dropdown show dropdown-list">
            <a role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-ellipsis-v icon-dot"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit</a>
              <a class="dropdown-item" href="#"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Delete</a>
            </div>
          </div>
          <h4 class="card-title text-card-title">Appron</h4>
          <p class="card-text para-text  ">Dry Cleaning <br>Offer Prize : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 40.00</span><br>Selling Price : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 48.00</span></p>

          <div class="form-check form-switch button-check-style">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                      
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Appron</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 style-comolete-servicebox">
      <div class="card card-services">
        <img class="card-img-top img-card-services" src="/assets/Images/Apron.png" alt="Card image">
        <div class="card-body">
          <i class="fa fa-ellipsis-v icon-dot"></i>
          <h4 class="card-title text-card-title">Blouse Heavy</h4>
          <p class="card-text para-text  ">Dry Cleaning <br>Offer Prize : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 50.00</span><br>Selling Price : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 60.00</span></p>

          <div class="form-check form-switch button-check-style">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 style-comolete-servicebox">
      <div class="card card-services">
        <img class="card-img-top img-card-services" src="/assets/Images/Apron.png" alt="Card image">
        <div class="card-body">
          <i class="fa fa-ellipsis-v icon-dot"></i>
          <h4 class="card-title text-card-title ">Appron</h4>
          <p class="card-text para-text">Dry Cleaning <br>Offer Prize : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 40.00</span><br>Selling Price : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 52.00</span></p>

          <div class="form-check form-switch button-check-style" style="width: 200px; height: 100px;">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 style-comolete-servicebox">
      <div class="card card-services">
        <img class="card-img-top img-card-services" src="/assets/Images/Apron.png" alt="Card image">
        <div class="card-body">
          <i class="fa fa-ellipsis-v icon-dot"></i>
          <h4 class="card-title text-card-title">Appron</h4>
          <p class="card-text para-text  ">Dry Cleaning <br>Offer Prize : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 40.00</span><br>Selling Price : <span class="color-style"><span
                class="color-style">&#x20B9;</span> 52.00</span></p>

          <div class="form-check form-switch button-check-style">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </div>

        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"><button type="button" class="btn btn-success button-addservices" data-toggle="modal"
        data-target="#myModal">Add services</button></div><br><br>
    <div class="col-lg-4"></div>
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block text-center">
        <h4 class="modal-title style-categorylist">Category List</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="mb-2">
              <a href="" data-toggle="modal" data-target="#myModal1" style="text-decoration: none;">
                <div class="card card-total style">
                  <div class="card-body">
                    <div class="row d-flex">
                      <div class="carpet-clean-style col-md-6 text-center my-auto">
                        <h5>Carpet Cleaning</h5>
                        <i class='far fa-arrow-alt-circle-right' style='font-size:24px; color: red;'></i>
                      </div>
                      <div class="image-style-category text-right col-md-6 my-auto">
                        <img src="/assets/Images/carpet.png">
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="mb-2">
              <a href="" style="text-decoration: none;">
                <div class="card card-total style">
                  <div class="card-body">
                    <div class="row d-flex">
                      <div class="carpet-clean-style col-md-6 text-center my-auto">
                        <h5>Stream Iron</h5>
                        <i class='far fa-arrow-alt-circle-right' style='font-size:24px; color: red;'></i>
                      </div>
                      <div class="image-style-category text-right col-md-6 my-auto">
                        <img src="/assets/Images/steam iron.png">
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="mb-2">
              <a href="" style="text-decoration: none;">
                <div class="card card-total style">
                  <div class="card-body">
                    <div class="row d-flex">
                      <div class="carpet-clean-style col-md-6 text-center my-auto">
                        <h5>Dry Cleaning</h5>
                        <i class='far fa-arrow-alt-circle-right' style='font-size:24px; color: red;'></i>
                      </div>
                      <div class="image-style-category text-right col-md-6 my-auto">
                        <img src="/assets/Images/dry cleaning.png">
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!----2nd modal-->


<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title style-categorylist1">Carpet Cleaning Services</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-8">
            <button type="submit" class="search-button"><i class="fa fa-search search-icon"></i></button>
            <input type="text" placeholder="Search.." name="search" class="search-input" [(ngModel)]="searchText"
              (input)="filterServices()">
          </div>
          <div class="col-lg-4 trxt-right select-all-style">
            <span class="select-style">Select All</span>
            <input type="checkbox" id="selectAllCheckbox" name="selectAllCheckbox" value="checked" class=""
              [(ngModel)]="selectAllChecked" (change)="toggleSelectAll()">
          </div>
          <br>
        </div>

        <!-- <div class="container">
          <div class="card card-services-body1" *ngFor="let checkboxState of checkboxStates; let i = index">
            <div class="row d-flex">
              <div class="col-md-3 my-auto">
                <img class="card-img-top img-card-drycleaning cartimg1" src="/assets/Images/dry cleaning.png"
                  alt="Card image">
              </div>
              <div class="col-md-8 p-0">
                <div class="card-body">
                  <h4 class="card-title text-title1 ">Anarkali Suit-Heavy</h4>
                  <p class="card-text para-text-p1">Offer : <span class="color-style-text"><span
                        class="color-style-text">&#x20B9;</span> 40.00</span><br>Selling Price : <span
                      class="color-style-text"><span class="color-style-text">&#x20B9;</span> 52.00</span></p>
                </div>
              </div>
              <div class="col-md-1 p-0">
                <input type="checkbox"  id="checkbox{{i}}" name="checkbox{{i}}" value="checked" class="checkbox-style1" [(ngModel)]="checkboxStates[i]" >
              </div>
            </div>
          </div> -->
        <div class="container">
          <ng-container *ngIf="filteredServices.length > 0; else noItemsToShow">
            <div class="card card-services-body1" *ngFor="let service of filteredServices; let i = index">
              <div class="row d-flex">
                <div class="row d-flex">
                  <div class="col-md-3 my-auto">
                    <img class="card-img-top img-card-drycleaning cartimg1" src="/assets/Images/dry cleaning.png"
                      alt="Card image">
                  </div>
                  <div class="col-md-8 p-0">
                    <div class="card-body">
                      <h4 class="card-title text-title1">{{ service.name }}</h4>
                      <p class="card-text para-text-p1">
                        Offer : <span class="color-style-text">&#x20B9; {{ service.price }}</span><br>
                        Selling Price : <span class="color-style-text">&#x20B9; 52.00</span>
                      </p>
                    </div>
                  </div>
                  <div class="col-md-1 p-0">
                    <input type="checkbox" id="checkbox{{i}}" name="checkbox{{i}}" value="checked"
                      class="checkbox-style1" [(ngModel)]="checkboxStates[i]">
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #noItemsToShow>
            <div class="alert alert-info" role="alert">
              No items to show.
            </div>
          </ng-template>
        </div>
        <!-- <div class="card card-services-body1" *ngFor="let checkboxState of checkboxStates; let i = index">
            <div class="row d-flex">
              <div class="col-md-3 col-sm-12 my-auto">
                <img class="card-img-top img-card-drycleaning cartimg1" src="/assets/Images/dry cleaning.png"
                  alt="Card image">
              </div>
              <div class="col-md-8 p-0">
                <div class="card-body">
                  <h4 class="card-title text-title1 ">Anarkali Suit-Heavy</h4>
                  <p class="card-text para-text-p1">Offer : <span class="color-style-text"><span
                        class="color-style-text">&#x20B9;</span> 40.00</span><br>Selling Price : <span
                      class="color-style-text"><span class="color-style-text">&#x20B9;</span> 52.00</span></p>
                </div>
              </div>
              <div class="col-md-1 p-0">
                <input type="checkbox"  id="checkbox{{i}}" name="checkbox{{i}}" value="checked" class="checkbox-style1" [(ngModel)]="checkboxStates[i]" >
              </div>
            </div>
          </div>
        </div> -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success button-addservices" data-toggle="modal"
            data-target="#myModal">Add <span>2</span> services</button>
          <button type="button" class="btn btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>