<div class='pagemain ' *ngFor="let user of users">
    <section class="about py-5" id="about">
        <div class="container py-xl-5 py-lg-3">
            <div class="row">
                <div class="col-lg-12 about-left-tem-laundrypvt pr-lg-5">
                    <h4 class="sub-tittle-tem-laundrylayouts let text-center">Privacy & Policy</h4>
                    <h3 class="tittle-tem-laundrylayouts text-uppercase mt-3 fadeLeft">Website Terms of Use</h3>
                    <p class="para-text mt-3 fadeRight">IMPORTANT NOTES:
                        This privacy policy is subject to change at any time without notice. It is our sincere request
                        that you review our website on a periodic basis to keep yourself apprised of the privacy policy.
                        By visiting this website, you are agreeing to be bound by the terms and conditions specified in
                        the Privacy Policy. If you do not agree please do not use or access our Website. By mere use of
                        the Website, you expressly consent to our use and disclosure of your personal information in
                        accordance with this Privacy Policy. This Privacy Policy is incorporated into and subject to the
                        Terms of Use.
                    </p>

                    <p class="para-text mt-2 fadeLeft">
                        <strong>1. {{user.section}}</strong>
                        {{user.content}}
                    </p>

                    <p class="para-text mt-2 fadeLeft">
                        <strong>2. USE OF DEMOGRAPHIC / PROFILE DATA / YOUR INFORMATION</strong>
                        We use personal information to provide the services you request. To the extent, we use your
                        personal information to market to you, we will provide you the ability to opt-out of such uses.
                        We use your personal information to resolve disputes; troubleshoot problems; help promote a safe
                        service; collect money; measure consumer interest in our products and services, inform you about
                        online and offline offers, products, services, and updates; customize your experience; detect
                        and protect us against error, fraud and other criminal activity; enforce our terms and
                        conditions; and as otherwise described to you at the time of collection.
                        In our efforts to continually improve our product and service offerings, we collect and analyse
                        demographic and profile data about our users' activity on our website. We identify and use your
                        IP address to help diagnose problems with our server, and to administer our website. Your IP
                        address is also used to help identify you and to gather broad demographic information.
                        We will occasionally ask you to complete optional online surveys. These surveys may ask you for
                        contact information and demographic information (like zip code, age, income level). We use this
                        data to tailor your experience at our website, providing you with content that we think you
                        might be interested in and to display content according to your preferences.
                        COOKIE
                        A "cookie" is a small piece of information stored by a web server on a web browser so it can be
                        later read back from that browser. Cookies are useful for enabling the browser to remember
                        information specific to a given user. We place both permanent and temporary cookies in your
                        computer's hard drive. The cookies do not contain any of your personally identifiable
                        information.
                    </p>

                    <p class="para-text mt-2 fadeRight">
                        <strong>3. SHARING OF PERSONAL INFORMATION</strong>
                        We may share personal information with our other corporate entities and affiliates to help
                        detect and prevent identity theft, fraud and other potentially illegal acts; correlate related
                        or multiple accounts to prevent abuse of our services; and to facilitate joint or co-branded
                        services that you request where such services are provided by more than one corporate entity.
                        Those entities and affiliates may not market to you as a result of such sharing unless you
                        explicitly opt-in.
                        We may disclose personal information if required to do so by law or in the good faith belief
                        that such disclosure is reasonably necessary to respond to subpoenas, court orders, or other
                        legal process. We may disclose personal information to law enforcement offices, third party
                        rights owners, or others in the good faith belief that such disclosure is reasonably necessary
                        to: enforce our Terms or Privacy Policy; respond to claims that an advertisement, posting or
                        other content violates the rights of a third party; or protect the rights, property or personal
                        safety of our users or the general public.
                        We and our affiliates will share / sell some or all of your personal information with another
                        business entity should we (or our assets) plan to merge with, or be acquired by that business
                        entity, or reorganization, amalgamation, restructuring of business. Should such a transaction
                        occur that other business entity (or the new combined entity) will be required to follow this
                        privacy policy with respect to your personal information.
                    </p>

                    <p class="para-text mt-2 fadeLeft">
                        <strong>4. LINKS TO OTHER SITES</strong>
                        Our Website links to other websites that may collect personally identifiable information about
                        you. https://www.laundryholic.com is not responsible for the privacy practices or the content of
                        those linked websites.
                    </p>

                    <p class="para-text mt-2 fadeRight">
                        <strong> 5. SECURITY PRECAUTIONS </strong>
                        Our website has stringent security measures in place to protect the loss, misuse, and alteration
                        of the information under our control. Whenever you change or access your account information, we
                        offer the use of a secure server. Once your information is in our possession we adhere to strict
                        security guidelines, protecting it against unauthorized access.
                    </p>

                    <p class="para-text mt-2 fadeLeft">
                        <strong> 6. CHOICE/OPT-OUT </strong>
                        We provide all users with the opportunity to opt-out of receiving non-essential (promotional,
                        marketing-related) communications from us on behalf of our partners, and from us in general,
                        after setting up an account. If you want to remove your contact information from all
                        https://www.laundryholic.com lists, then you may contact us with request.
                    </p>

                    <p class="para-text mt-2 fadeRight">
                        <strong>7. ADVERTISEMENTS ON LAUNDRYHOLIC.COM</strong>
                        We may use third-party advertising companies to serve ads when you visit our Website. These
                        companies may use information (not including your name, address, email address, or telephone
                        number) about your visits to this and other websites in order to provide advertisements about
                        goods and services of interest to you.
                    </p>
                    <p class="para-text mt-2 fadeRight">
                        <strong> 8. YOUR CONSENT</strong>
                        By using the website and/ or by providing your information, you consent to the collection and
                        use of the information you disclose on the Website in accordance with this Privacy Policy,
                        including but not limited to Your consent for sharing your information as per this privacy
                        policy.
                        If we decide to change our privacy policy, we will post those changes on this page so that you
                        are always aware of what information we collect, how we use it, and under what circumstances we
                        disclose it.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>