<div class="total-blog">
    <div id="card-area">
            <h3 class="new-post">New Post</h3>
        <h2 class="latest-blog">Latest Blog</h2>
        <div class="wrapper">
            <div class="box-area">
                <div class="box">
                    <img src="/assets/Images/loginbg.jpg" alt="">
                    <div class="overlay">
                        <h3>Why Professional Laundry Services Are a Game-Changer</h3>
                        <p>Are you tired of spending your weekends drowning in laundry? It's time to reclaim your time and sanity by embracing professional laundry services. Our expert team not only ensures your clothes are impeccably clean but also takes care of the ironing and folding. Imagine a life where you never have to worry about sorting whites from colors again! Dive into the world of convenience and freshness with our laundry services – because your time is too precious to be spent on laundry.</p>
                        <a routerLink="/service">Know More</a>
                    </div>
                </div>
                <div class="box">
                    <img src="/assets/Images/signuploundry.jpg" alt="">
                    <div class="overlay">
                        <h3>The Art of Stain Removal: How Our Laundry Service Saves Your Clothes</h3>
                        <p>Wine spills, grass stains, and mystery marks – life's little accidents can wreak havoc on your favorite clothes. But fear not! Our professional laundry service is equipped with the expertise to tackle even the toughest stains. Using advanced stain removal techniques and eco-friendly detergents, we bring your garments back to life. Say goodbye to stained clothes and hello to a wardrobe that looks as good as new.</p>
                        <a routerLink="/service">Know More</a>
                    </div>
                </div>
                <div class="box">
                    <img src="/assets/Images/loginbg.jpg" alt="">
                    <div class="overlay">
                        <h3>The Magic of Wash & Iron: A Love Story for Your Wardrobe</h3>
                        <p>Your clothes deserve the royal treatment, and that's precisely what our Wash & Iron service offers. We not only wash away the day's dirt and grime but also ensure your clothes are perfectly ironed, folded, and ready to wear. Imagine stepping into a closet where every piece is a crisp, polished masterpiece. Make every day a good outfit day with our Wash & Iron service – because your wardrobe deserves to be treated with love and care.</p>
                        <a routerLink="/service">Know More</a>
                    </div>
                </div>
                <div class="box">
                    <img src="/assets/Images/loginbg.jpg" alt="">
                    <div class="overlay">
                        <h3>Fresh Bedding, Happy Dreams: The Impact of Bedding Laundry Services</h3>
                        <p>There's nothing quite like slipping into a bed with freshly laundered sheets. Our bedding laundry service goes beyond just cleaning – it's about creating a haven for rest and relaxation. Experience the luxury of climbing into a bed that feels and smells like a five-star hotel. Give yourself the gift of a good night's sleep with our bedding laundry services.</p>
                        <a routerLink="/service">Know More</a>
                    </div>
                </div>
                <div class="box">
                    <img src="/assets/Images/loginbg.jpg" alt="">
                    <div class="overlay">
                        <h3>Shoe Laundry: Walking on Sunshine, One Clean Step at a Time</h3>
                        <p>Your shoes endure a lot – from muddy walks to unexpected spills. Our shoe laundry service is here to ensure that your footwear not only looks brand new but also maintains its comfort and longevity. Step into a world of freshness and style with professionally cleaned and cared-for shoes. Because when your shoes are happy, you're walking on sunshine..</p>
                        <a routerLink="/service">Know More</a>
                    </div>
                </div>
            </div>
        </div>
       </div> 
    </div> <br>

